﻿<!DOCTYPE html>
<html lang="it" ng-app="AppMacchine">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="images/favicon.png" type="image/png">
    <title>{{ 'registry_Machine' | translate }}</title>

    <link href="css/style.default.css" rel="stylesheet">
    <link href="css/jquery.datatables.css" rel="stylesheet">
    <link rel="stylesheet" href="css/jquery.tagsinput.css" />
    <link rel="stylesheet" href="css/colorpicker.css" />
    <link rel="stylesheet" href="css/dropzone.css"/>
    <link rel="stylesheet" href="css/select2.css">
    <link rel="stylesheet" href="css/selectize.default.css">

    <link rel="stylesheet" href="css/select.css" />
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
    <script src="js/respond.min.js"></script>
    <![endif]-->

</head>
<body >
    <!-- Preloader -->
    <div id="preloader">
        <div id="status"><i class="fa fa-spinner fa-spin"></i></div>
    </div>

    <!-- leftpanel -->
    <div class="leftpanel" ng-controller="menuCtrl" ng-include="'left-side.html'"> </div>
    <!-- leftpanel -->

    <div class="mainpanel">
        <!-- toppanel -->
        <div ng-controller="AccessiCtrl" ng-include="'top-side.html'"></div>
        <!-- toppanel -->

        <div ng-controller="AnagraficaMacchineCtrl">
            <div class="contentpanel">
                <div class="row">
                    <div ng-class="IsFullScreenOnEdit ? 'col-md-12' : 'col-md-8'" ng-show="!IsFullScreenOnEdit || (IsFullScreenOnEdit && viewState=='R')">
                        <fieldset ng-disabled="viewState=='U' || viewState=='C'">
                            <div class="panel panel-default" ng-disabled="true">
                                <div class="panel-heading padding10">
                                    <div class="row">
                                        <div class="col-md-10">
                                            <h3 class="panel-title">{{ 'registry_Machine' | translate }}</h3>
                                        </div>
                                        <div class="col-md-2">
                                            <button type="button" class="btn btn-default" ng-click="insert()"><span class="fa fa-plus"></span>{{ 'general_Button_Add' | translate }}</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel-body">
                                    <div class="table-responsive">
                                        <table class="table" id="mainTable" datatable="ng" dt-options="dtOptions" dt-columns="dtColumns" dt-instance="dtInstance">
                                            <thead>
                                                <tr>
                                                    <!--  <th>Id</th>-->
                                                    <th>{{ 'general_Label_Code' | translate }}</th>
                                                    <th>{{ 'general_Label_Operator_Name' | translate }}</th>
                                                    <th>{{ 'registry_Machine_SerialNumber' | translate }}</th>
                                                    <th>{{ 'registry_Machine_AddressIp' | translate }}</th>
                                                    <!--<th>{{ 'general_Label__Disabl' | translate }}</th>-->
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr id="{{ item.id }}" ng-repeat="item in items track by item.id" ng-click="showItemDetail(item)" ng-dblclick="update()" ng-class="{'selected': currentItem.id === item.id}">
                                                    <!--<td>{{ item.id }}</td>-->
                                                    <td>{{ item.codice }}</td>
                                                    <td>{{ item.nome }}</td>
                                                    <td>{{ item.serialNumber }}</td>
                                                    <td>{{ item.indirizzoIp }}</td>
                                                    <!--<td> <input type="checkbox" ng-model="item.isEsterna" disabled /> </td>-->
                                                    <!--<td> <input type="checkbox" ng-model="item.isDisable" disabled /> </td>-->
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div><!-- table-responsive -->

                                </div><!-- panel-body -->
                            </div><!-- panel -->
                        </fieldset>
                    </div>
                    <div ng-class="IsFullScreenOnEdit ? 'col-md-12' : 'col-md-4'" ng-show="!IsFullScreenOnEdit || (IsFullScreenOnEdit && (viewState=='U' || viewState=='C') )">
                        <div class="panel panel-default">
                            <fieldset ng-disabled="viewState=='R'">
                                <div class="panel-heading">
                                    <h3 class="panel-title">{{ 'general_Label_Detail' | translate }}</h3>
                                </div>
                                <div class="panel-body">

                                    <div class="row">
                                        <div class="col-sm-12">
                                            <div class="form-group">
                                                <label class="control-label">{{ 'general_Label_Code' | translate }}</label>
                                                <input type="text" name="codice" class="form-control" ng-model="currentItem.codice" />
                                            </div>
                                        </div><!-- col-sm-6 -->
                                        <div class="col-sm-12">
                                            <div class="form-group">
                                                <label class="control-label">{{ 'general_Label_Operator_Name' | translate }}</label>
                                                <input type="text" name="nome" class="form-control" ng-model="currentItem.nome" />
                                            </div>
                                        </div><!-- col-sm-6 -->
                                    </div><!-- row -->
                                    <!--<div class="row">
        <div class="col-sm-12">
            <div class="form-group">
                <label class="control-label">{{ 'general_Label__Desc' | translate }}</label>
                <textarea type="text" cols="40" rows="5" name="descrizione" class="form-control" ng-model="currentItem.descrizione"></textarea>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group">
                <div class="ckbox ckbox-primary">
                    <input disabled="true" type="checkbox" value="1" id="isEsterna" ng-model="currentItem.isActiveRealtime" />
                    <label for="isEsterna">{{ 'registry_Machine_IsactiveReal' | translate }}</label>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group">
                <div class="ckbox ckbox-primary">
                    <input type="checkbox" value="1" id="isDisabled" ng-model="currentItem.isDisable" />
                    <label for="isDisabled">{{ 'general_Label__Disabl' | translate }}</label>
                </div>
            </div>
        </div>
    </div>-->

                                    <div class="row">
                                        <div class="col-sm-12">
                                            <div class="form-group">
                                                <label class="control-label">{{ 'registry_Machine_TypeMachine' | translate }}</label>
                                                <div class="form-group">
                                                    <select class="form-control chosen-select" chosen
                                                            ng-model="currentItem.tipologia.id" ng-disabled="viewState=='R'" ng-show="currentItem.tipoMateriale == -1">
                                                        <option value="" disabled hidden selected>{{'general_label_select' | translate }}</option>
                                                        <option ng-repeat="typeMachine in typeMachines" value="{{typeMachine.id}}"
                                                                ng-selected="currentItem.tipologia.id === typeMachine.id">
                                                            {{typeMachine.nome}}
                                                        </option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div><!-- col-sm-6 -->
                                    </div><!-- row -->


                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label class="control-label">{{ 'registry_Machine_AddressIp' | translate }}</label>
                                                <input type="text" name="IndirizzoIp" class="form-control" ng-model="currentItem.indirizzoIp" />
                                            </div>

                                        </div><!-- col-sm-6 -->
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label class="control-label">{{ 'registry_Machine_SerialNumber' | translate }}</label>
                                                <input type="text" name="SerialNumber" class="form-control" ng-model="currentItem.serialNumber" />
                                            </div>

                                        </div><!-- col-sm-6 -->
                                    </div>


                                    <div class="row">
                                        <div class="col-sm-12">
                                            <div class="form-group">
                                                <div class="form-group">
                                                    <button class="btn btn-primary" ng-click="toCheckMachine(currentItem)"><span class="fa fa-spinner"></span> {{ 'registry_Machine_TestMachine' | translate }}</button>
                                                    <a href="dashboard-macchina.html?Id={{currentItem.id}}"><button class="btn btn-primary"><span class="fa fa-dashboard"></span>{{ 'registry_Machine_DashboardMachine' | translate }}</button></a>
                                                </div>
                                            </div>
                                        </div><!-- col-sm-6 -->
                                    </div><!-- row -->

                                    <div class="row">
                                        <div class="col-sm-4">
                                            <button class="btn btn-primary" ng-click="toCheckServer(currentItem)"><span class="fa fa-cloud-upload"></span> {{ 'registry_Machine_TestServer' | translate }}</button>
                                        </div><!-- col-sm-6 -->
                                      <div class="col-sm-8">
                                          <div class="panel-body">
                                              <h5 class="subtitle mb5 ng-binding"> {{ 'registry_Machine_ConnectionServerMep' | translate }}</h5>
                                              <p class="mb15"></p>
                                              <ul class="profile-social-list">
                                                  <li class="ng-binding">{{ 'registry_Machine_IsRegisteredToM2M' | translate }}: {{currentItem.isRegisteredToM2M}}</li>
                                                  <li class="ng-binding">{{ 'registry_Machine_RegisteredToM2MAt' | translate }}: {{currentItem.registeredToM2MAt}}</li>
                                                  <li class="ng-binding">{{ 'registry_Machine_RegisteredToM2MDeviceId' | translate }}: {{currentItem.registeredToM2MDeviceId}} </li>
                                              </ul>
                                          </div>
                                        </div><!-- col-sm-6 -->

                                    </div><!-- row -->


                                </div><!-- panel-body -->
                                    <div class="panel-footer" style="padding: 10px;">
                                        <button class="btn btn-primary" ng-click="confirm()"><span class="fa fa-save"></span> {{ 'general_Button_Save' | translate }}</button>
                                        <button class="btn btn-white" ng-click="cancel()"><span class="fa  fa-undo"></span> {{ 'general_General_Button_Annul' | translate }}</button>
                                        <button class="btn btn-danger" data-toggle="modal" data-target="#modalConfirmDelete"><span class="fa fa-trash-o"></span> {{ 'general_General_Button_Delete' | translate }}</button>
                                    </div>

                                    <!-- Modal -->
                                    <div class="modal fade" id="modalConfirmDelete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                                    <h4 class="modal-title" id="myModalLabel">{{ 'general_General_Label_Conf_Delete' | translate }}</h4>
                                                </div>
                                                <div class="modal-body">
                                                    {{ 'general_General_Label_Alert' | translate }}
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-default" data-dismiss="modal">{{ 'general_General_Button_No' | translate }}</button>
                                                    <button type="button" class="btn btn-primary" ng-click="delete()">{{ 'general_General_Button_Ok' | translate }}</button>
                                                </div>
                                            </div><!-- modal-content -->
                                        </div><!-- modal-dialog -->
                                    </div><!-- modal -->
</fieldset>
                        </div><!-- panel -->
                    </div>
                </div>
            </div>

            <!-- finestre di messaggistica-->
            <div ng-include="'common-messages.html'"></div>
        </div>


        <!--modal messaggi utente-->
        <div id="modalTestAreaM2MLoading" class="modal fade bs-example-modal-static" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header warning">
                        <h1 class="modal-title"><span class="fa fa-cloud-upload"></span>    {{ 'machine_registerMachineToM2MResult_modal_title' | translate }} </h1>
                    </div>
                    <div class="modal-body">
                       <img src="images/loaders/loader15.gif" class="pull-left"  />
                        <span style="padding:10px;">Connessione al server in corso...</span>
                    </div>
                </div><!-- modal-content -->
            </div><!-- modal-dialog -->
        </div>


        <div id="modalTestAreaM2MError" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header bg-warning">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h1 class="modal-title" style="color:white;"><span class="fa fa-cloud-upload"></span>    {{ 'machine_registerMachineToM2MResult_modal_title' | translate }}  </h1>
                    </div>
                    <div class="modal-body" >
                        <span>{{registerMachineToM2MResultError}}</span> 
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-dismiss="modal" aria-hidden="true">Chiudi</button>
                    </div>
                </div><!-- modal-content -->
            </div><!-- modal-dialog -->
        </div>

        <div id="modalTestAreaM2MOk" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header bg-success">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h1 class="modal-title" style="color:white;">    {{ 'machine_registerMachineToM2MResult_modal_title' | translate }} </h1>
                    </div>
                    <div class="modal-body">
                        {{ 'machine_registerMachineToM2MResult_ok' | translate }}
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-dismiss="modal" aria-hidden="true">Chiudi</button>
                    </div>
                </div><!-- modal-content -->
            </div><!-- modal-dialog -->
        </div>




        <div id="modalTestMachineError" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header warning">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h1 class="modal-title" id="myModalLabel" style="color:red;"> Attenzione Test Fallito</h1>
                    </div>
                    <div class="modal-body">
                        Problemi di Connessione.
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-dismiss="modal" aria-hidden="true">Chiudi</button>
                    </div>
                </div><!-- modal-content -->
            </div><!-- modal-dialog -->
        </div>

        <div id="modalTestMachineOk" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header warning">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h1 class="modal-title" id="myModalLabel" style="color:navy;"> Test Riuscito</h1>
                    </div>
                    <div class="modal-body">
                        Test di Connessione eseguito Correttamente
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-dismiss="modal" aria-hidden="true">Chiudi</button>
                    </div>
                </div><!-- modal-content -->
            </div><!-- modal-dialog -->
        </div>

    </div><!-- mainpanel -->



        <script src="js/loadAllScript.js"></script>
        <script src="app/controllers/anagrafica/machine.controller.js"></script>
        <script src="app/controllers/accessi/accessi.controller.js"></script>

</body>
</html>



