﻿<!DOCTYPE html>
<html lang="it" ng-app="AppMacchine">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="images/favicon.png" type="image/png">
    <title>{{ 'line' | translate }}</title>

    <link href="css/style.default.css" rel="stylesheet">
    <link href="css/jquery.datatables.css" rel="stylesheet">
    <link rel="stylesheet" href="css/jquery.tagsinput.css" />
    <link rel="stylesheet" href="css/colorpicker.css" />
    <link rel="stylesheet" href="css/dropzone.css" />
    <link rel="stylesheet" type="text/css" href="css/tree-control.css">
    <link rel="stylesheet" href="css/select2.css">
    <link rel="stylesheet" href="css/selectize.default.css">

    <link rel="stylesheet" href="css/select.css" />
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
    <script src="js/respond.min.js"></script>
    <![endif]-->


    <link rel=" stylesheet" href="css/_bootstrap-datepicker.css">
    <link rel="stylesheet" href="css/_bootstrap-datetimepicker.css">
    <link rel="stylesheet" href="js/nv.d3_1.8.6.css">


</head>
<body>

    <!-- Preloader -->
    <div id="preloader">
        <div id="status"><i class="fa fa-spinner fa-spin"></i></div>
    </div>

    <!-- leftpanel -->
    <div class="leftpanel" ng-controller="menuCtrl" ng-include="'left-side.html'"> </div>
    <!-- leftpanel -->

    <div class="mainpanel">
        <!-- toppanel -->
        <div ng-controller="AccessiCtrl" ng-include="'top-side.html'"></div>
        <!-- toppanel -->


        <div ng-controller="CodeproduzioneCtrl">
            <!--<div class="pageheader">
                <h2><i class="fa fa-list-alt"></i> Produzione <span>{{currentItem.odP}}</span></h2>
            </div>-->
            <div class="contentpanel">
                <div class="row">
                    <div ng-class="IsFullScreenOnEdit ? 'col-md-12' : 'col-md-8'" ng-show="!IsFullScreenOnEdit || (IsFullScreenOnEdit && viewState=='R')">
                        <fieldset ng-disabled="viewState=='U' || viewState=='C'">
                            <div class="panel panel-default" ng-disabled="true">
                                <div class="panel-heading padding10">
                                    <div class="row">
                                        <div class="col-md-10">
                                            <h3 class="panel-title">{{ 'line' | translate }}"<b>{{currentItem.nome}}</b>"</h3>
                                        </div>
                                        <div class="col-md-2">
                                            <button type="button" class="btn btn-primary" ng-click="insert()"><span class="fa fa-plus"></span>{{ 'production_Line_NewLine' | translate }}</button>
                                        </div>
                                    </div>
                                </div>

                                <div class="panel-body">
                                    <div class="table-responsive">
                                        <table class="table" id="mainTable0" datatable="ng" dt-options="dtOptions" dt-columns="dtColumns" dt-instance="dtInstance0">
                                            <thead>
                                                <tr>
                                                    <th>{{ 'general_Label_State' | translate }}</th>
                                                    <th>{{ 'production_Line_NameMachine' | translate }}</th>
                                                    <th>{{ 'production_Line_Name' | translate }}</th>
                                                    <th>{{ 'production_job' | translate }}</th>

                                                    <th></th>
                                                    <th><span ng-show="(item.stato| lowercase) === 'inmodifica'">{{ 'production' | translate }}</span></th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <!--<tr id="{{ item.id }}" ng-repeat="item in items track by item.id" ng-click="showItemDetail(item)" ng-dblclick="update()" ng-class="{'selected': currentItem.id === item.id}">-->
                                                <tr id="{{ item.id }}" ng-repeat="item in items track by item.id"  ng-click="update($event, item)" ng-class="{'selected': currentItem.id === item.id}">
                                                    <td ><span style="font-size: 20px;" ng-class="{'glyphicon glyphicon-exclamation-sign red': item.stato === 'inLavorazioneInEmergenza',  'glyphicon glyphicon-ok green': item.stato === 'inLavorazione',  'glyphicon glyphicon-pause yellow': item.stato === 'inLavorazioneInPausa' , 'glyphicon glyphicon-flag': item.stato === 'inAttesa', 'glyphicon glyphicon-edit': item.stato === 'inModifica', 'glyphicon glyphicon-ok': item.stato === 'terminato', 'glyphicon glyphicon-ban-circle red': item.stato === 'terminatoAbortito'  }" title="{{ item.stato }}"></span>   </tdng-click="select($event,item)">
                                                    <td  >{{ item.macchina.item.nome }}</td>
                                                    <td>{{ item.nome }}</td>
                                                    <td>{{ item.commessa }}</td>


                                                    <td style="text-align-last: end;">
                                                        <button id="launch" type="button" class="btn btn-default" ng-show="modalViewBotton" data-toggle="modal"  data-target="#modalConfirmChangeState">{{ 'production_launching' | translate }}</button>
                                                        <button id="launch1" type="button" class="btn btn-default" ng-show="!modalViewBotton" data-toggle="modal"  data-target="#modalConfirmChangeState2">{{ 'general_Label_Upload' | translate }}</button>
                                                    </td>
                                                    <td>  <img src="images/rubbish.png" ng-disabled="pviewState!='R'"  alt="Smiley face" data-toggle="modal" data-target="#modalConfirmDelete"> </td>

                                                </tr>


                                            </tbody>
                                        </table>



                                    </div><!-- table-responsive -->

                                </div><!-- panel-body -->
                            </div><!-- panel -->
                        </fieldset>
                    </div>
                    <div ng-class="IsFullScreenOnEdit ? 'col-md-12' : 'col-md-4'" ng-show="!IsFullScreenOnEdit || (IsFullScreenOnEdit && (viewState=='U' || viewState=='C'))">
                        <div class="panel panel-default">

                            <div class="panel-heading padding10">
                                <div class="row">
                                    <div class="col-md-6">
                                        <h3 class="panel-title">{{ 'line' | translate }} "<b>{{currentItem.nome}}</b>"</h3>

                                    </div>
                                    <div class="col-md-6">

                                    </div>

                                </div>
                            </div>

                            <fieldset>
                                <div class="panel-body">
                                    <!-- BASIC WIZARD -->
                                    <div id="basicWizard" class="basic-wizard">

                                        <ul class="nav nav-pills nav-justified">
                                            <li class="active"><a href="#tab1" data-toggle="tab"><span>{{ 'production_Line' | translate }}</span></a></li>
                                        </ul>

                                        <div class="tab-content">
                                            <div class="tab-pane active" id="tab1">
                                                <fieldset ng-disabled="!isEnableWrite">
                                                    <div class="row">

                                                        <div class="form-group col-md-3">
                                                            <label>{{ 'designer_ListBase_Phases_Machine2' | translate }} (*)</label>
                                                            <div>
                                                                <select class="form-control chosen-select" ng-change="changeMachine(currentItem.macchina.id)" chosen
                                                                        ng-model="currentItem.macchina.id" ng-disabled="currentItem.batch!=0">
                                                                    <option value="" disabled hidden selected>{{'general_label_select' | translate }}</option>
                                                                    <option ng-repeat="macchina in Macchine" value="{{macchina.id}}" ng-selected="currentItem.macchina.id === macchina.id">
                                                                        {{macchina.nome }}
                                                                    </option>
                                                                </select>
                                                            </div>
                                                        </div>

                                                        <div class="form-group col-md-3">
                                                            <label>{{ 'production_Line_Name' | translate }}(*)</label>
                                                            <div>
                                                                <input type="text" name="name" class="form-control" ng-model="currentItem.nome" />
                                                            </div>
                                                        </div>

                                                        <div class="form-group col-md-3">
                                                            <label>{{ 'production_job' | translate }}</label>
                                                            <div>
                                                                <input type="text" name="commessa" class="form-control" ng-model="currentItem.commessa" />
                                                            </div>
                                                        </div>
                                                        <div class="form-group col-md-3">
                                                            <label>{{ 'runtime_sfofasi_material' | translate }} (*)</label>
                                                            <div>
                                                                <select class="form-control chosen-select"  chosen
                                                                        ng-model="currentItem.materiale.id" ng-disabled="currentItem.batch!=0">
                                                                    <option value="" disabled hidden selected>{{'general_label_select' | translate }}</option>
                                                                    <option ng-repeat="materiale in ListaMateriali  | orderBy : 'codice'" value="{{materiale.id}}" ng-selected="currentItem.materiale.id === materiale.id">
                                                                        {{materiale.codice }}-{{materiale.nome }}
                                                                    </option>
                                                                </select>
                                                            </div>
                                                        </div>


                                                    </div>

                                                    <div class="row">

                                                        <div class="col-md-12">
                                                            <ul class="nav nav-pills nav-justified">
                                                                <li class="active"><a data-toggle="tab"><span>{{ 'production_Line_Add' | translate }}</span>    <!--<button class="btn btn-primary pull-right"  ><span class="fa fa-plus"></span> Aggiungi Batch</button>-->  </a></li>
                                                            </ul>
                                                            <div class="tab-content" style="padding-block-end: 40px;">
                                                                <div class="table-responsive" style="margin-top: 10px;" ng-if="(currentItem.batch)"  >

                                                                    <table class="table" id="mainTable1" ng-if="currentItem.batch"  datatable="ng" dt-options="dtOptionsTableBatch1"  dt-instance="dtInstance2">

                                                                        <thead>
                                                                            <tr>
                                                                                <th>{{ 'general_Label_State' | translate }}</th>
                                                                                <th>{{ 'production_Odp' | translate }}</th>
                                                                                <th>{{ 'production_CodeArt' | translate }}</th>
                                                                                <th>{{ 'production_Lenght_Piece' | translate }}</th>
                                                                                <th>{{ 'production_Piece' | translate }}</th>
                                                                                <th>{{ 'production_CodeMat' | translate }}</th>
                                                                                <th>{{ 'production_Base' | translate }}</th>
                                                                                <th></th>
                                                                            </tr>
                                                                        </thead>
                                                                        <tbody>
                                                                          
                                                                            <tr id="{{ subItem.id }}" ng-repeat="subItem in currentItem.batch"    ng-class="{'selected': currentItem.id === subItem.id}" ng-dblclick="updatebatch(subItem)">
                                                                                <td><span style="font-size: 20px;" ng-class="{'glyphicon glyphicon-exclamation-sign red': subItem.stato === 'inLavorazioneInEmergenza',  'glyphicon glyphicon-ok green': subItem.stato === 'inLavorazione',  'glyphicon glyphicon-pause yellow': subItem.stato === 'inLavorazioneInPausa' , 'glyphicon glyphicon-flag': subItem.stato === 'inAttesa', 'glyphicon glyphicon-edit': subItem.stato === 'inModifica', 'glyphicon glyphicon-ok': subItem.stato === 'terminato', 'glyphicon glyphicon-ban-circle red': subItem.stato === 'terminatoAbortito'  }" title="{{ subItem.stato }}"></span>   </td>
                                                                                <td>{{ subItem.odP }}</td>
                                                                                <td>{{ subItem.odV }}</td>
                                                                                <td>{{ subItem.lunghezzaPezzo }}</td>
                                                                                <td>{{ subItem.pezziDaProdurre }}</td>
                                                                                <td>{{ subItem.materiale.toString }}</td>
                                                                                <td>{{ subItem.distintaBase.nome }}</td>
                                                                                <td> <img src="images/rubbish.png" alt="Smiley face" ng-disabled="currentItem==null" ng-click="removeBatch(subItem)"> </td>
                                                                            </tr>
                                                                        </tbody>
                                                                    </table>
                                                                </div><!-- table-responsive -->
                                                            </div>
                                                            <div class="row">
                                                                <button style="margin-right: 15px; margin-top: 5px; background-color: green;" class="btn btn-primary pull-right" ng-disabled="currentItem.macchina==null || currentItem.materiale==null" ng-click="createnewbatch()"><span class="fa fa-plus"></span> {{ 'general_Button_Add' | translate }} </button>
                                                                <!--<span><img src="images/plus_ico.png" ng-click="createnewbatch()">Aggiungi Batch</span>-->
                                                            </div>
                                                        </div>
                                                    </div>
                                                </fieldset>
                                            </div>

                                        </div><!-- tab-content -->
                                    </div><!-- #basicWizard -->
                                </div><!-- panel-body -->
                            </fieldset>


                            <div class="panel-footer" style="padding: 10px;">
                                <button style="margin-right: 5px;" class="btn btn-danger pull-right" data-toggle="modal" data-target="#modalConfirmDelete"><span class="fa fa-trash-o"></span> {{ 'general_General_Button_Delete' | translate }}</button>
                                <button class="btn btn-white pull-right" data-toggle="modal" style="margin-right: 5px;" data-target="#modalConfirmUndo"><span class="fa  fa-undo"></span> {{ 'general_Label_AnnulClose' | translate }}</button>
                                <button class="btn btn-primary pull-right" style="margin-right: 5px;" ng-click="confirmAndClose()"><span class="fa fa-save"></span> {{ 'general_Label_SaveClose' | translate }}</button>
                                <button class="btn btn-default" data-toggle="modal" data-target="#modalConfirmAddTemplate"><span class="fa fa-save"></span>{{ 'production_Line_Template_Save' | translate }}</button>
                            </div>

                            <!-- Modal -->

                            <div   class="modal fade" id="modalAddBatch" tabindex="-1" role="dialog" aria-labelledby="myModalLabel1" aria-hidden="true">
                                <div class="modal-dialog modal-full" role="document">
                                    <div class="modal-content" style="    border: 15px solid #ccc;margin: 20px;">
                                        <div class="modal-header" style="background-color: #e4e7ea;">
                                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                            <h2 class="modal-title" id="myModalLabel" style="text-align: center;">{{ 'production_name_NewBatch' | translate }}</h2>
                                        </div>
                                        <div class="modal-body">
                                            <div class="row">
                                                <div class="form-group col-md-4">
                                                    <label>{{ 'production_OrderODP' | translate }} (*)</label>
                                                    <div>
                                                        <input type="text" name="odp" class="form-control" ng-model="currentItemBatch.odP" ng-disabled="isBatchAutoCounterEnabled" />
                                                    </div>
                                                </div>
                                                <div class="form-group col-md-4">
                                                    <label>{{ 'production_CodeArt' | translate }}</label>
                                                    <div>
                                                        <input type="text" name="odv" class="form-control" ng-model="currentItemBatch.odV" />
                                                    </div>
                                                </div>
                                                <div class="form-group col-md-4">
                                                    <label>{{ 'production_JobName' | translate }}</label>
                                                    <div>
                                                        <input type="text" name="commessa" class="form-control" ng-model="currentItemBatch.commessa" />
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="form-group col-md-2">
                                                    <label>{{ 'production_Lenght_Piece' | translate }}</label>
                                                    <!--<label>{{ 'general_Label_State' | translate }}</label>-->
                                                    <!--<div>
        <input type="text" name="stato" ng-disabled="true" class="form-control" ng-model="currentStatus" />
        </div>-->
                                                    <div>
                                                        <input type="number" name="lng" min="1" class="form-control" ng-model="currentItemBatch.lunghezza" />
                                                    </div>
                                                </div>
                                                <div class="form-group col-md-2">
                                                    <label>{{ 'production_Piece' | translate }}</label>
                                                    <div>
                                                        <input type="number" name="pzi" min="1" class="form-control" ng-model="currentItemBatch.pezziDaProdurre" />
                                                    </div>
                                                </div>


                                                <div class="form-group col-md-4">
                                                    <label>{{ 'production_Materials' | translate }} (*)</label>
                                                    <div>
                                                        <select disable class="form-control chosen-select" chosen 
                                                                ng-model="currentItem.materiale.id" ng-disabled="true">
                                                            <option value="" disabled hidden selected>{{'general_label_select' | translate }}</option>
                                                            <option ng-repeat="materiale in ListaMateriali" value="{{materiale.id}}" ng-selected="currentItem.materiale.id === materiale.id">
                                                                {{materiale.toString }}
                                                            </option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="form-group col-md-4">
                                                    <label>{{ 'production_Base' | translate }} (*)</label>
                                                    <div>
                                                        <select class="form-control chosen-select" id="selDistintaBase" chosen
                                                                ng-model="currentItemBatch.distintaBase" ng-disabled="!isEnableWrite || (ListaDistintaBase === null)" ng-change="changeDistintaBase(currentItemBatch.distintaBase)">
                                                            <option value="" disabled hidden selected>{{ 'designer_ListBase_Phases_Select' | translate }}</option>
                                                            <option ng-repeat="db in ListaDistintaBase" value="{{db.id}}" ng-selected="currentItemBatch.distintaBase.id === db.id">
                                                                {{db.toString}}
                                                            </option>
                                                        </select>

                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">

                                                <div class="form-group col-md-12">
                                                    <label>{{ 'production_detailClient' | translate }}</label>
                                                    <div>
                                                        <textarea id="ckeditor" class="form-control" rows="10" ng-model="currentItemBatch.odV_DescrizioneCliente"></textarea>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="modal-footer" style="background-color: #e4e7ea;">
                                            <button type="button" class="btn btn-default" data-dismiss="modal" style="font-size:35px;"> {{ 'general_General_Button_Annul' | translate }}</button>
                                            <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="savenewbatch();" style="font-size:35px"> {{ 'runtime_sfofasi_btn_confirm' | translate }}</button>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <div class="modal fade" id="modalConfirmDelete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                            <h4 class="modal-title" id="myModalLabel">{{ 'general_General_Label_Conf_Delete' | translate }}</h4>
                                        </div>
                                        <div class="modal-body">
                                            {{ 'production_Alert2' | translate }}
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-default" data-dismiss="modal">{{ 'general_General_Button_No' | translate }}</button>
                                            <button type="button" class="btn btn-primary" ng-click="delete()">{{ 'general_General_Button_Ok' | translate }}</button>
                                        </div>
                                    </div><!-- modal-content -->
                                </div><!-- modal-dialog -->
                            </div><!-- modal -->
                            <!-- Modal -->
                            <div class="modal fade" id="modalConfirmUndo" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                            <h4 class="modal-title" id="myModalLabel">{{ 'production_AnnulOrder' | translate }}</h4>
                                        </div>
                                        <div class="modal-body">
                                            {{ 'production_Alert3' | translate }}
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-default" data-dismiss="modal">{{ 'general_General_Button_No' | translate }}</button>
                                            <button type="button" class="btn btn-primary" ng-click="cancel()">{{ 'general_General_Button_Ok' | translate }}</button>
                                        </div>
                                    </div><!-- modal-content -->
                                </div><!-- modal-dialog -->
                            </div><!-- modal -->
                            <!-- Modal -->
                            <div class="modal fade" id="modalConfirmAbort" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                            <h4 class="modal-title" id="myModalLabel">{{ 'production_CloseOrder' | translate }}</h4>
                                        </div>
                                        <div class="modal-body">
                                            {{ 'production_Alert4' | translate }}
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-primary" data-dismiss="modal">{{ 'general_General_Button_No' | translate }}</button>
                                            <button type="button" class="btn btn-default" ng-click="abort()">{{ 'general_General_Button_Ok' | translate }}</button>
                                        </div>
                                    </div><!-- modal-content -->
                                </div><!-- modal-dialog -->
                            </div><!-- modal -->


                            <div class="modal fade" id="modalConfirmAddTemplate" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                            <h4 class="modal-title" id="myModalLabel">{{ 'production_add_Template' | translate }}</h4>
                                        </div>
                                        <div class="modal-body" style="color:#000; height:135px; font-size: 20px;">
                                            <div class="form-group col-md-6">
                                                <label>{{ 'production_name_Template' | translate }}(*)</label>
                                                <div>
                                                    <input type="text" name="name" style=" margin-top: 10px;" class="form-control" ng-model="formNameLine" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-default" data-dismiss="modal">{{ 'general_General_Button_No' | translate }}</button>
                                            <button type="button" class="btn btn-primary" ng-click="addLineTemplate()">{{ 'general_General_Button_Ok' | translate }}</button>
                                        </div>
                                    </div><!-- modal-content -->
                                </div><!-- modal-dialog -->
                            </div><!-- modal -->
                            <!-- Modal -->
                            <div class="modal fade" id="modalConfirmChangeState" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                            <h4 class="modal-title" id="myModalLabel">{{ 'general_General_Label_Conf_New' | translate }}</h4>
                                        </div>
                                        <div class="modal-body" style="color:#000;">
                                            {{ 'production_Alert1' | translate }}
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-default" data-dismiss="modal">{{ 'general_General_Button_No' | translate }}</button>
                                            <button type="button" class="btn btn-primary" ng-click="launch()">{{ 'general_General_Button_Ok' | translate }}</button>
                                        </div>
                                    </div><!-- modal-content -->
                                </div><!-- modal-dialog -->
                            </div><!-- modal -->

                            <div class="modal fade" id="modalConfirmChangeState2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                            <h4 class="modal-title" id="myModalLabel">{{ 'general_General_Label_Conf_New' | translate }}</h4>
                                        </div>
                                        <div class="modal-body" style="color:#000;">
                                            {{ 'production_Alert1' | translate }}
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-default" data-dismiss="modal">{{ 'general_General_Button_No' | translate }}</button>
                                            <button type="button" class="btn btn-primary" ng-click="launchAndLink()">{{ 'general_General_Button_Ok' | translate }}</button>
                                        </div>
                                    </div><!-- modal-content -->
                                </div><!-- modal-dialog -->
                            </div><!-- modal -->
                        </div><!-- panel -->
                    </div>
                </div>
            </div>

            <!-- finestre di messaggistica-->
            <div ng-include="'common-messages.html'"></div>
        </div>
    </div>
    <!-- mainpanel -->


    <script src="js/loadAllScript.js"></script>
    <script src=" js/moment.min.js"></script>
    <script src="js/_bootstrap-datepicker.js"></script>
    <script src="js/_bootstrap-datepicker.it.min.js"></script>
    <script src="js/_bootstrap-datetimepicker.js"></script>
    <script src="js/_bootstrap-datetimepicker.it.js"></script>


    <!--<script src="js/ckeditor/ckeditor.js"></script>
    <script src="js/ckeditor/config.js"></script>
    <script src="js/ckeditor/adapters/jquery.js"></script>-->
    <!--NOCDN<script src="http://cdnjs.cloudflare.com/ajax/libs/jszip/2.5.0/jszip.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.8.1/xlsx.js"></script>
    <script src="https://fastcdn.org/FileSaver.js/1.1.20151003/FileSaver.js"></script>-->
    <script src="js/jszip.min.js"></script>
    <script src="js/xlsx.js"></script>
    <script src="js/FileSaver.js"></script>

    <script src="app/controllers/accessi/accessi.controller.js"></script>
    <script src="app/controllers/produzione/codeproduzione.controller.js"></script>



    <!--<script>
        $(document).ready(function () {
            // CKEditor
            $('#ckeditor').ckeditor();
        });
    </script>-->
</body>
</html>
<style>
    .modal-full {
        min-width: 90%;
        margin: 20px;
        margin-left: 80px;
        margin-right: 80px;

    }

   .modal-full .modal-content {
        min-height: 50vh;
        }
</style>