﻿<!DOCTYPE html>
<html lang="it" ng-app="AppMacchine">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="images/favicon.png" type="image/png">
    <title>{{ 'production_Line_Template_Name' | translate }}</title>

    <link href="css/style.default.css" rel="stylesheet">
    <link href="css/jquery.datatables.css" rel="stylesheet">
    <link rel="stylesheet" href="css/jquery.tagsinput.css" />
    <link rel="stylesheet" href="css/colorpicker.css" />
    <link rel="stylesheet" href="css/dropzone.css" />
    <link rel="stylesheet" type="text/css" href="css/tree-control.css">
    <link rel="stylesheet" href="css/select2.css">
    <link rel="stylesheet" href="css/selectize.default.css">

    <link rel="stylesheet" href="css/select.css" />
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
    <script src="js/respond.min.js"></script>
    <![endif]-->


    <link rel=" stylesheet" href="css/_bootstrap-datepicker.css">
    <link rel="stylesheet" href="css/_bootstrap-datetimepicker.css">
    <link rel="stylesheet" href="js/nv.d3_1.8.6.css">


    <link rel="stylesheet" href="css/jquery.datatables.css">
   
</head>
<body>

    <!-- Preloader -->
    <div id="preloader">
        <div id="status"><i class="fa fa-spinner fa-spin"></i></div>
    </div>

    <!-- leftpanel -->
    <div class="leftpanel" ng-controller="menuCtrl" ng-include="'left-side.html'"> </div>
    <!-- leftpanel -->

    <div class="mainpanel">
        <!-- toppanel -->
        <div ng-controller="AccessiCtrl" ng-include="'top-side.html'"></div>
        <!-- toppanel -->


        <div ng-controller="CodeTemplateProduzioneCtrl">
            <!--<div class="pageheader">
                <h2><i class="fa fa-list-alt"></i> Produzione <span>{{currentItem.odP}}</span></h2>
            </div>-->
            <div class="contentpanel">
                <div class="row">
                    <div ng-class="IsFullScreenOnEdit ? 'col-md-12' : 'col-md-8'" ng-show="!IsFullScreenOnEdit || (IsFullScreenOnEdit && viewState=='R')">
                        <fieldset ng-disabled="viewState=='U' || viewState=='C'">
                            <div class="panel panel-default" ng-disabled="true">
                                <div class="panel-heading padding10">
                                    <div class="row">
                                        <div class="col-md-10">
                                            <h3 class="panel-title">{{ 'production_Line_Template_Name' | translate }}"<b>{{currentItem.nome}}</b>"</h3>
                                        </div>
                                        <!--<div class="col-md-2">
                                            <button type="button" class="btn btn-default" ng-click="insert()"><span class="fa fa-plus"></span>{{ 'production_Line_NewLine' | translate }}</button>
                                        </div>-->
                                    </div>
                                </div>

                                <div class="panel-body">
                                    <div class="table-responsive">
                                        <table class="table" id="mainTable1" datatable="ng" dt-options="dtOptions1" dt-columns="dtColumns" dt-instance="dtInstance1">
                                            <thead>
                                                <tr>
                                                    <th>{{ 'production_Line_NameMachine' | translate }}</th>
                                                    <th>{{ 'production_name_Template' | translate }}</th>
                                                    <th>{{ 'production_job' | translate }}</th>
                                                    <th></th>
                                                    <th></th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <!--<tr id="{{ item.id }}" ng-repeat="item in items track by item.id" ng-click="showItemDetail(item)" ng-dblclick="update()" ng-class="{'selected': currentItem.id === item.id}">-->
                                                <tr id="{{ item.id }}" ng-repeat="item in items track by item.id" ng-click="update($event, item)" ng-class="{'selected': currentItem.id === item.id}">
                                                    <!--<td><span style="font-size: 20px;" ng-class="{'glyphicon glyphicon-exclamation-sign red': item.stato === 'inLavorazioneInEmergenza',  'glyphicon glyphicon-ok green': item.stato === 'inLavorazione',  'glyphicon glyphicon-pause yellow': item.stato === 'inLavorazioneInPausa' , 'glyphicon glyphicon-flag': item.stato === 'inAttesa', 'glyphicon glyphicon-edit': item.stato === 'inModifica', 'glyphicon glyphicon-ok': item.stato === 'terminato', 'glyphicon glyphicon-ban-circle red': item.stato === 'terminatoAbortito'  }" title="{{ item.stato }}"></span>   </td>-->
                                                    <td>{{ item.macchina.item.nome }}</td>
                                                    <td>{{ item.nomeTemplate }}</td>
                                                    <td>{{ item.commessa}}</td>
                                                    <td style="text-align-last: end;">
                                                        <!--<button id="launch" ng-show="(item.stato| lowercase) === 'inmodifica'" type="button" class="btn btn-default" data-toggle="modal" data-target="#modalConfirmChangeState">{{ 'production_launching' | translate }}</button>-->
                                                        <button id="launch" type="button" class="btn btn-default" ng-disabled="currentItem==null" ng-click="createQueid()">{{ 'production_Line_Template_New' | translate }}</button>
                                                    </td>
                                                    <td>  <img src="images/rubbish.png" alt="Smiley face" ng-show="currentItem!=null" data-toggle="modal" data-target="#modalConfirmDelete"> </td>

                                                </tr>
                                                <!-- Modal -->
                                                <div class="modal fade" id="modalConfirmChangeState" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                                    <div class="modal-dialog">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                                                <h4 class="modal-title" id="myModalLabel">{{ 'general_General_Label_Conf_New' | translate }}</h4>
                                                            </div>
                                                            <div class="modal-body" style="color:#000;">
                                                                {{ 'production_Alert1' | translate }}
                                                            </div>
                                                            <div class="modal-footer">
                                                                <button type="button" class="btn btn-default" data-dismiss="modal">{{ 'general_General_Button_No' | translate }}</button>
                                                                <button type="button" class="btn btn-primary" ng-click="launch()">{{ 'general_General_Button_Ok' | translate }}</button>
                                                            </div>
                                                        </div><!-- modal-content -->
                                                    </div><!-- modal-dialog -->
                                                </div><!-- modal -->

                                                <div class="modal fade" id="modalConfirmChangeState2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                                    <div class="modal-dialog">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                                                <h4 class="modal-title" id="myModalLabel">{{ 'general_General_Label_Conf_New' | translate }}</h4>
                                                            </div>
                                                            <div class="modal-body" style="color:#000;">
                                                                {{ 'production_Alert1' | translate }}
                                                            </div>
                                                            <div class="modal-footer">
                                                                <button type="button" class="btn btn-default" data-dismiss="modal">{{ 'general_General_Button_No' | translate }}</button>
                                                                <button type="button" class="btn btn-primary" ng-click="launchAndLink()">{{ 'general_General_Button_Ok' | translate }}</button>
                                                            </div>
                                                        </div><!-- modal-content -->
                                                    </div><!-- modal-dialog -->
                                                </div><!-- modal -->

                                            </tbody>
                                        </table>
                                    </div><!-- table-responsive -->

                                </div><!-- panel-body -->
                            </div><!-- panel -->
                        </fieldset>
                    </div>
                    <div ng-class="IsFullScreenOnEdit ? 'col-md-12' : 'col-md-4'" ng-show="!IsFullScreenOnEdit || (IsFullScreenOnEdit && viewState=='U')">
                        <div class="panel panel-default">

                            <div class="panel-heading padding10">
                                <div class="row">
                                    <div class="col-md-6">
                                        <h3 class="panel-title">{{ 'production_Line_Template_Name' | translate }} "<b>{{currentItem.nome}}</b>"</h3>

                                    </div>
                                    <div class="col-md-6">
                                        <div style="padding: 10px;text-align:right;">
                                     </div>
                                    </div>

                                </div>
                            </div>
                            <fieldset>
                                <div class="panel-body">
                                    <!-- BASIC WIZARD -->
                                    <div id="basicWizard" class="basic-wizard">

                                        <ul class="nav nav-pills nav-justified">
                                            <li class="active"><a href="#tab1" data-toggle="tab"><span>{{ 'production_heading' | translate }}</span></a></li>
                                        </ul>

                                        <div class="tab-content">
                                            <div class="tab-pane active" id="tab1">
                                                <fieldset >
                                                    <div class="row">

                                                        <div class="form-group col-md-3">
                                                            <label>Nome Template(*)</label>
                                                            <div>
                                                                <input type="text" name="name" class="form-control" ng-model="currentItem.nomeTemplate" />
                                                            </div>
                                                        </div>

                                                        <div class="form-group col-md-3">
                                                            <label>{{ 'designer_ListBase_Phases_Machine2' | translate }} (*)</label>
                                                            <div>
                                                                <select class="form-control chosen-select"
                                                                        ng-model="currentItem.macchina.id" ng-disabled="true">
                                                                    <option value="" disabled hidden selected>{{'general_label_select' | translate }}</option>
                                                                    <option ng-repeat="macchina in Macchine" value="{{macchina.id}}" ng-selected="currentItem.macchina.id === macchina.id">
                                                                        {{macchina.nome }}
                                                                    </option>
                                                                </select>
                                                            </div>
                                                        </div>



                                                        <div class="form-group col-md-3">
                                                            <label>{{ 'production_job' | translate }}</label>
                                                            <div>
                                                                <input type="text" name="desc" class="form-control" ng-model="currentItem.commessa" />
                                                            </div>
                                                        </div>

                                                        <div class="form-group col-md-3">
                                                            <label>{{ 'runtime_sfofasi_material' | translate }} (*)</label>
                                                            <div>
                                                                <select class="form-control chosen-select"
                                                                        ng-model="currentItem.materiale.id" ng-disabled="true">
                                                                    <option value="" disabled hidden selected>{{'general_label_select' | translate }}</option>
                                                                    <option ng-repeat="material in ListaMateriali" value="{{material.id}}" ng-selected="currentItem.materiale.id === material.id">
                                                                        {{material.nome }}
                                                                    </option>
                                                                </select>
                                                            </div>
                                                        </div>

                                                    </div>

                                                    <div class="row">



                                                        <div class="col-md-12">
                                                            <ul class="nav nav-pills nav-justified">
                                                                <li class="active"><a data-toggle="tab"><span>{{ 'production_Line_Add' | translate }}</span></a></li>
                                                            </ul>
                                                            <div class="tab-content" style="padding-block-end: 40px;">
                                                                <div class="table-responsive" style="margin-top: 10px;" >

                                                                        <table class="table" id="mainTable2" datatable="ng" ng-if="currentItem.batch!==undefined" dt-options="dtOptionsTableBatch2" dt-columns="dtColumns" dt-instance="dtInstance2">
                                                                            <thead>
                                                                                <tr>

                                                                                    <th>{{ 'production_CodeArt' | translate }}</th>
                                                                                    <th>{{ 'production_Lenght_Piece' | translate }} </th>
                                                                                    <th>{{ 'production_Piece' | translate }}</th>
                                                                                    <th>{{ 'production_CodeMat' | translate }}</th>


                                                                                </tr>
                                                                            </thead>
                                                                            <tbody>
                                                                                <!--<tr id="{{ item.id }}" ng-repeat="item in items track by item.id" ng-click="showItemDetail(item)" ng-dblclick="update()" ng-class="{'selected': currentItem.id === item.id}">-->
                                                                                <tr id="{{ item.id }}" ng-repeat="item in currentItem.batch" ng-class="{'selected': currentItem.id === item.id}">
                                                                                    <td>{{ item.odV }}</td>
                                                                                    <td>{{ item.lunghezza }}</td>
                                                                                    <td>{{ item.pezziDaProdurre }}</td>
                                                                                    <td>{{ item.materiale.toString }}</td>
                                                                                </tr>
                                                                            </tbody>
                                                                        </table>
                                                                </div><!-- table-responsive -->
                                                            </div>
                                                        </div>
                                                    </div>




                                                </fieldset>
                                            </div>

                                        </div><!-- tab-content -->
                                    </div><!-- #basicWizard -->
                                </div><!-- panel-body -->
                            </fieldset>


                            <div class="panel-footer" style="padding: 10px;">
                                <!--<button  class="btn btn-primary" ng-click="confirm()"><span class="fa fa-save"></span> {{ 'general_Button_Save' | translate }}</button>-->
                                <button class="btn btn-danger pull-right" style="margin-right: 5px;" data-toggle="modal" data-target="#modalConfirmDelete"><span class="fa fa-trash-o"></span> {{ 'general_General_Button_Delete' | translate }}</button>

                                <button class="btn btn-white pull-right" style="margin-right: 5px;" data-toggle="modal" data-target="#modalConfirmUndo2"><span class="fa  fa-undo"></span> {{ 'general_Label_AnnulClose' | translate }}</button>
                                <button class="btn btn-primary pull-right" style="margin-right: 5px;" ng-click="confirmAndClose()"><span class="fa fa-save"></span> {{ 'general_Label_SaveClose' | translate }}</button>
                                <!--<button ng-show="IsOnLavorazione()" class="btn btn-danger" data-toggle="modal" data-target="#modalConfirmAbort"><span class="fa fa-trash-o"></span> {{ 'production_Delete' | translate }}</button>-->
                                <!--<button ng-show="IsOnLavorazione() || IsOnTerminato()" class="float-rigth" excel-export export-data="exportData" file-name="{{fileName}}">Esporta 1</button>
    <button ng-show="IsOnLavorazione() || IsOnTerminato()" class="float-rigth" excel-export export-data="exportDataTrend"  export-title="Titolo" file-name="{{fileNameTrend}}"></button>-->

                            </div>

                            <!-- Modal -->
                            <div class="modal fade" id="modalConfirmDelete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                            <h4 class="modal-title" id="myModalLabel">{{ 'general_General_Label_Conf_Delete' | translate }}</h4>
                                        </div>
                                        <div class="modal-body">
                                            {{ 'production_Alert2' | translate }}
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-default" data-dismiss="modal">{{ 'general_General_Button_No' | translate }}</button>
                                            <button type="button" class="btn btn-primary" ng-click="delete()">{{ 'general_General_Button_Ok' | translate }}</button>
                                        </div>
                                    </div><!-- modal-content -->
                                </div><!-- modal-dialog -->
                            </div><!-- modal -->
                            <!-- Modal -->
                            <div class="modal fade" id="modalConfirmUndo2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                            <h4 class="modal-title" id="myModalLabel">{{ 'production_AnnulOrder' | translate }}</h4>
                                        </div>
                                        <div class="modal-body">
                                            {{ 'production_Alert3' | translate }}
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-default" data-dismiss="modal">{{ 'general_General_Button_No' | translate }}</button>
                                            <button type="button" class="btn btn-primary" ng-click="cancel()">{{ 'general_General_Button_Ok' | translate }}</button>
                                        </div>
                                    </div><!-- modal-content -->
                                </div><!-- modal-dialog -->
                            </div><!-- modal -->
                            <!-- Modal -->
                        </div><!-- panel -->
                    </div>
                    <div ng-class="IsFullScreenOnEdit ? 'col-md-12' : 'col-md-4'" ng-show="!IsFullScreenOnEdit || (IsFullScreenOnEdit &&  viewState=='C')">
                        <div class="panel panel-default">

                            <div class="panel-heading padding10">
                                <div class="row">
                                    <div class="col-md-6">
                                        <h3 class="panel-title">{{ 'production_Line_Template_Name' | translate }}"<b>{{currentItem.nome}}</b>"</h3>

                                    </div>
                                    <div class="col-md-6">
                                        <div style="padding: 10px;text-align:right;">
                                        </div>
                                    </div>

                                </div>
                            </div>

                            <fieldset>
                                <div class="panel-body">
                                    <!-- BASIC WIZARD -->
                                    <div id="basicWizard" class="basic-wizard">

                                        <ul class="nav nav-pills nav-justified">
                                            <li class="active"><a href="#tab1" data-toggle="tab"><span>{{ 'production_heading' | translate }}</span></a></li>
                                        </ul>

                                        <div class="tab-content">
                                            <div class="tab-pane active" id="tab1">
                                                <fieldset>
                                                    <div class="row">

                                                        <div class="form-group col-md-3">
                                                            <label>{{ 'production_Line_Name' | translate }}</label>
                                                            <div>
                                                                <input type="text" name="desc" class="form-control" ng-model="currentItem.nome" />
                                                            </div>
                                                        </div>

                                                        <div class="form-group col-md-3">
                                                            <label>{{ 'designer_ListBase_Phases_Machine2' | translate }} (*)</label>
                                                            <div>
                                                                <select class="form-control chosen-select"
                                                                        ng-model="currentItem.macchina.id" ng-disabled="true">
                                                                    <option value="" disabled hidden selected>{{'general_label_select' | translate }}</option>
                                                                    <option ng-repeat="macchina in Macchine" value="{{macchina.id}}" ng-selected="currentItem.macchina.id === macchina.id">
                                                                        {{macchina.nome }}
                                                                    </option>
                                                                </select>
                                                            </div>
                                                        </div>


                                                        <div class="form-group col-md-3">
                                                            <label>{{ 'general_Label__Desc' | translate }}</label>
                                                            <div>
                                                                <input disabled type="text" name="desc" class="form-control" ng-model="currentItem.descrizione" />
                                                            </div>
                                                        </div>


                                                        <div class="form-group col-md-3">
                                                            <label>{{ 'runtime_sfofasi_material' | translate }} (*)</label>
                                                            <div>
                                                                <select class="form-control chosen-select"
                                                                        ng-model="currentItem.materiale.id" ng-disabled="true">
                                                                    <option value="" disabled hidden selected>{{'general_label_select' | translate }}</option>
                                                                    <option ng-repeat="material in ListaMateriali" value="{{material.id}}" ng-selected="currentItem.materiale.id === material.id">
                                                                        {{material.nome }}
                                                                    </option>
                                                                </select>
                                                            </div>
                                                        </div>

                                                    </div>

                                                    <div class="row">



                                                        <div class="col-md-12">
                                                            <ul class="nav nav-pills nav-justified">
                                                                <li class="active"><a data-toggle="tab"><span>{{ 'production_Line_Add' | translate }}</span></a></li>
                                                            </ul>
                                                            <div class="tab-content" style="padding-block-end: 40px;">
                                                                <div class="table-responsive" style="margin-top: 10px;">

                                                                    <table class="table" id="mainTable3" datatable="ng"  ng-if="currentItem.batch!==undefined" dt-options="dtOptionsTableBatch3" dt-columns="dtColumns" dt-instance="dtInstance3">

                                                                        <thead>
                                                                            <tr>

                                                                                <th>{{ 'production_CodeArt' | translate }}</th>
                                                                                <th>{{ 'production_Lenght_Piece' | translate }} </th>
                                                                                <th>{{ 'production_Piece' | translate }}</th>
                                                                                <th>{{ 'production_CodeMat' | translate }}</th>

                                                                            </tr>
                                                                        </thead>
                                                                        <tbody>
                                                                            <!--<tr id="{{ item.id }}" ng-repeat="item in items track by item.id" ng-click="showItemDetail(item)" ng-dblclick="update()" ng-class="{'selected': currentItem.id === item.id}">-->
                                                                            <tr id="{{ item.id }}" ng-repeat="item in currentItem.batch" ng-class="{'selected': currentItem.id === item.id}">

                                                                                <td>  <input type="text" name="name" class="form-control" min="1" ng-model="item.odV" /> </td>
                                                                                <td>  <input type="number" name="name" class="form-control" min="1" ng-model="item.lunghezza" /> </td>
                                                                                <td>  <input type="number" name="name" class="form-control" min="1" ng-model="item.pezziDaProdurre" /> </td>
                                                                                <td>{{ item.materiale.toString }}</td>


                                                                            </tr>


                                                                        </tbody>
                                                                    </table>
                                                                </div><!-- table-responsive -->
                                                            </div>
                                                        </div>
                                                    </div>




                                                </fieldset>
                                            </div>

                                        </div><!-- tab-content -->
                                    </div><!-- #basicWizard -->
                                </div><!-- panel-body -->
                            </fieldset>


                            <div class="panel-footer" style="padding: 10px;">

                                <button class="btn btn-white" data-toggle="modal" data-target="#modalConfirmUndo"><span class="fa  fa-undo"></span> {{ 'general_Label_AnnulClose' | translate }}</button>
                                <button class="btn btn-primary pull-right" ng-show="modalViewBotton" style=" margin-right: 10px;" ng-click="create()"><span class="fa fa-gear"></span>{{ 'production_Line_Template_Create' | translate }}</button>
                                <button class="btn btn-primary pull-right" ng-show="!modalViewBotton" style=" margin-right: 10px;" ng-click="createandLaunch()"><span class="fa fa-gears"></span>{{ 'production_Line_Template_CreateAndlaunching' | translate }}</button>
                            </div>


                            <!-- Modal -->
                            <div class="modal fade" id="modalConfirmUndo" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                            <h4 class="modal-title" id="myModalLabel">{{ 'production_AnnulOrder' | translate }}</h4>
                                        </div>
                                        <div class="modal-body">
                                            {{ 'production_Alert3' | translate }}
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-default" data-dismiss="modal">{{ 'general_General_Button_No' | translate }}</button>
                                            <button type="button" class="btn btn-primary" ng-click="cancel()">{{ 'general_General_Button_Ok' | translate }}</button>
                                        </div>
                                    </div><!-- modal-content -->
                                </div><!-- modal-dialog -->
                            </div><!-- modal -->
                            <!-- Modal -->






                        </div><!-- panel -->
                    </div>
                </div>



            </div>

            <!-- finestre di messaggistica-->
            <div ng-include="'common-messages.html'"></div>
        </div>
    </div>
    <!-- mainpanel -->


    <script src="js/loadAllScript.js"></script>
    <script src=" js/moment.min.js"></script>
    <script src="js/_bootstrap-datepicker.js"></script>
    <script src="js/_bootstrap-datepicker.it.min.js"></script>
    <script src="js/_bootstrap-datetimepicker.js"></script>
    <script src="js/_bootstrap-datetimepicker.it.js"></script>

    <script src="js/jquery.dataTables.min.js"></script>
    <!--<script src="js/ckeditor/ckeditor.js"></script>
    <script src="js/ckeditor/config.js"></script>
    <script src="js/ckeditor/adapters/jquery.js"></script>-->
    <!--NOCDN<script src="http://cdnjs.cloudflare.com/ajax/libs/jszip/2.5.0/jszip.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.8.1/xlsx.js"></script>
    <script src="https://fastcdn.org/FileSaver.js/1.1.20151003/FileSaver.js"></script>-->
    <script src="js/jszip.min.js"></script>
    <script src="js/xlsx.js"></script>
    <script src="js/FileSaver.js"></script>

    <script src="app/controllers/accessi/accessi.controller.js"></script>
    <script src="app/controllers/produzione/codetemplateproduzione.controller.js"></script>



    <!--<script>
        $(document).ready(function () {
            // CKEditor
            $('#ckeditor').ckeditor();
        });
    </script>-->
</body>
</html>
