﻿<!DOCTYPE html>
<html lang="it">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="images/favicon.png" type="image/png">
    <title>Autenticazione</title>
    <link href="css/style.default.css" rel="stylesheet" />


</head>
<body ng-app="appCfg" style="background-color:ghostwhite">

    <div ng-controller="cfgCtrl">
        <div style="vertical-align: middle;     margin: auto;     width: 50%;">

            <h2>Server IP (es: '192.168.0.166')</h2>
            <input style="font-size: 35px;margin:10px;" type="text" name="username" id="username" class="form-control uname" ng-model="serverIP" required placeholder="Server IP" />

            <button style="font-size: 35px;margin:10px;" class="btn btn-warning" ng-click="confirm();"><span class="fa fa-arrow-circle-o-down"></span> Conferma</button>

        </div>

    </div>







    <script src="js/jquery-1.10.2.min.js"></script>
    <script src="js/jquery-migrate-1.2.1.min.js"></script>

    <script src="js/bootstrap337.js"></script>

    <script src="js/modernizr.min.js"></script>
    <script src="js/jquery.sparkline.min.js"></script>
    <script src="js/toggles.min.js"></script>
    <script src="js/retina.min.js"></script>
    <script src="js/jquery.cookies.js"></script>

    <script type="text/javascript" charset="utf8" src="js/jquery.dataTables.js"></script>
    <script type="text/javascript" charset="utf8" src="js/fnDisplayStart.js"></script>
    <script type="text/javascript" charset="utf8" src="js/fnFindCellRowIndexes.js"></script>

    <script src="js/dropzone.min.js"></script>

    <!--<script src="js/custom.js"></script>-->

    <script src="js/angular.min.js"></script>
    <script src="js/angular-datatables.min.js"></script>
    <script src="js/angular-cookies.min.js"></script>
    <script src="js/angular-tree-control.js"></script>

    <!--<script src="js/contextMenu.js"></script>-->

    <script src="js/jquery.datatables.extensions.js"></script>
    <script src="js/ui-bootstrap-tpls-2.1.3.min.js"></script>
    <script src="js/chosen.jquery.min.js"></script>
    <script src="js/angular-chosen.min.js"></script>

    <script src="js/angular-translate.js"></script>
    <script src="configController.js"></script>

</body>
</html>
