﻿<!DOCTYPE html>
<html lang="it" ng-app="AppMacchine">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="images/favicon.png" type="image/png">
    <title>{{ 'dashboard_MachineT' | translate }}</title>

    <link href="css/style.default.css" rel="stylesheet">
    <link href="css/jquery.datatables.css" rel="stylesheet">
    <link rel="stylesheet" href="css/jquery.tagsinput.css" />
    <link rel="stylesheet" href="css/colorpicker.css" />
    <link rel="stylesheet" href="css/dropzone.css" />
    <link rel="stylesheet" href="css/select.css" />
    <style>
        .switch {
            position: relative;
            display: inline-block;
            width: 35px;
            height: 19px;
                }

            .switch input {
                opacity: 0;
                width: 0;
                height: 0;
                         }

        .slider {
            position: absolute;
            cursor: pointer;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: #ccc;
            -webkit-transition: .4s;
            transition: .4s;
        }

            .slider:before {
                position: absolute;
                content: "";
                height: 11px;
                width: 11px;
                left: 4px;
                bottom: 4px;
                background-color: white;
                -webkit-transition: .4s;
                transition: .4s;
            }

        input:checked + .slider {
            background-color: #2196F3;
        }

        input:focus + .slider {
            box-shadow: 0 0 1px #2196F3;
        }

        input:checked + .slider:before {
            -webkit-transform: translateX(16px);
            -ms-transform: translateX(16px);
            transform: translateX(16px);
        }

        /* Rounded sliders */
        .slider.round {
            border-radius: 34px;
        }

            .slider.round:before {
                border-radius: 50%;
            }
    </style>
    <style>
        .active, .inactive {
            font-size: 26px;
            cursor: pointer;
        }

        .active, .inactive {
            font-size: 26px;
            cursor: pointer;
        }

        i.active {
            color: #5cb85c;
        }

        i.inactive {
            color: #d9534f;
        }
    </style>

    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="css/nv.d3.min.css" />

</head>
<body>
    <!-- Preloader -->
    <div id="preloader">
        <div id="status"><i class="fa fa-spinner fa-spin"></i></div>
    </div>

    <!-- leftpanel -->
    <div class="leftpanel" ng-controller="menuCtrl" ng-include="'left-side.html'"> </div>
    <!-- leftpanel -->

    <div class="mainpanel">
        <!-- toppanel -->
        <div ng-controller="AccessiCtrl" ng-include="'top-side.html'"></div>
        <!-- toppanel -->

        <div ng-controller="DashboardMacchinaCtrl">
            <div class="pageheader">
                <h2><i class="fa fa-list-alt"></i>{{'dashboard_Pannel_Controll' | translate }}: {{NomeMacchinaUtente}}</h2>
            </div>
            <div class="contentpanel">
                <div class="row">
                    <div class="col-sm-6 col-md-2">
                        <div class="panel panel-success panel-stat">
                            <div class="panel-heading">
                                <div class="stat">
                                    <div class="row">
                                        <div class="col-xs-4">
                                            <img src="images/ingranaggio.png" alt="" />
                                        </div>
                                        <div class="col-xs-8">
                                            <small class="stat-label">{{ 'dashboard_Machine_Program' | translate }}</small>
                                            <h1>{{ Programma }}</h1>
                                        </div>
                                    </div><!-- row -->
                                    <!-- row -->
                                </div><!-- stat -->
                            </div><!-- panel-heading -->
                        </div><!-- panel -->
                    </div><!-- col-sm-6 -->
                    <div class="col-sm-6 col-md-6">
                        <div class="panel panel-danger panel-stat" ng-hide="!isActiveAlarm">
                            <div class="panel-heading">
                                <div class="stat2">
                                    <div class="row">
                                        <div class="col-xs-2">
                                            <img src="images/alarm.png" />
                                        </div>
                                        <div class="col-xs- 8">
                                            <small class="stat-label">{{'dashboard_Machine_Alarm' | translate }} : {{ AllarmiMacchina }}</small>
                                            <h1><marquee behavior="scroll" direction="left" height="35px" width="600px" scrollamount="20">{{AllarmiMacchinaSelezionato}} </marquee></h1>
                                        </div>
                                    </div><!-- row -->

                                </div><!-- stat -->
                            </div><!-- panel-heading -->
                        </div><!-- panel -->
                        <div class="panel panel-warning panel-stat" ng-hide="isActiveAlarm">
                            <div class="panel-heading">
                                <div class="stat2">
                                    <div class="row">
                                        <div class="col-xs-2">
                                            <img src="images/danger.png" />
                                        </div>
                                        <div class="col-xs- 8">
                                            <small class="stat-label">{{'dashboard_Machine_Warning' | translate }} : {{ NumeroWarning }}</small>
                                            <h1><marquee behavior="scroll" direction="left" height="35px" width="600px" scrollamount="20"> {{WarningMacchinaSelezionato}} </marquee></h1>
                                        </div>
                                    </div><!-- row -->

                                </div><!-- stat -->
                            </div><!-- panel-heading -->
                        </div><!-- panel -->
                    </div><!-- col-sm-6 -->
                    <div class="col-sm-6 col-md-2">
                        <div class="panel panel-primary panel-stat">
                            <div class="panel-heading">
                                <div class="stat">
                                    <div class="row">
                                        <div class="col-xs-4">
                                            <img src="images/is-document.png" alt="" />
                                        </div>
                                        <div class="col-xs-8">
                                            <small class="stat-label">{{ 'dashboard_Machine_plannedPieces' | translate }}</small>
                                            <h1>{{ PezziProdurre }}</h1>
                                        </div>
                                    </div><!-- row -->
                                </div><!-- stat -->
                            </div><!-- panel-heading -->
                        </div><!-- panel -->
                    </div><!-- col-sm-6 -->
                    <div class="col-sm-6 col-md-2">
                        <div class="panel panel-dark panel-stat">
                            <div class="panel-heading">
                                <div class="stat">
                                    <div class="row">
                                        <div class="col-xs-4">
                                            <img src="images/connection.png" alt="" />
                                        </div>
                                        <div class="col-xs-8">
                                            <small class="stat-label">{{ 'dashboard_Machine_State' | translate }}</small>
                                            <h1 ng-show="!StatoMacchina">{{ 'dashboard_Machine_Of' | translate }}</h1>
                                            <h1 ng-show="StatoMacchina">{{ 'dashboard_Machine_On' | translate }}</h1>
                                        </div>
                                    </div><!-- row -->

                                </div><!-- stat -->
                            </div><!-- panel-heading -->
                        </div><!-- panel -->
                    </div><!-- col-sm-6 -->
                </div><!-- row -->
                <div class="row">
                    <div class="col-sm-8">
                        <div class="row">
                            <div class="col-sm-3">
                                <div class="panel panel-default">
                                    <div class="panel-body">
                                        <h5 class="subtitle mb5">{{ 'dashboard_Machine_Variable' | translate }}</h5>
                                        <img src="images/machines/{{NomeMacchina}}.gif" class="thumbnail img-responsive" alt="">
                                    </div><!-- panel-body -->

                                    <div class="panel-body">

                                        <ul class="profile-social-list">
                                            <li><i class="glyphicon glyphicon-globe"></i> {{ 'dashboard_Machine_AddressIP' | translate }}: {{IndirizzoIp}}</li>
                                            <li> <i class="glyphicon glyphicon-transfer"></i> {{ 'dashboard_Machine_RealTime' | translate }}: <label class="switch"><input type="checkbox" id="switchValue" ng-model="isRealTime" ng-click="ToRealTime()" ng-checked="isRealTime"><span class="slider round"></span> </label></li>

                                        </ul>
                                    </div><!-- panel-body -->
                                </div><!-- panel -->
                            </div>
                            <div class="col-sm-9">
                                <div class="panel panel-default">
                                    <div class="panel-body">
                                        <h5 class="subtitle mb5">X </h5>
                                        <span class="badge badge-primary" style="padding: 4px 9px;">
                                            {{ ParametroX}}
                                        </span>
                                        <div class="progress">
                                            <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="1000" style="width:{{ParametroX}}%">
                                                <span class="sr-only">60% Complete (warning)</span>
                                            </div>
                                        </div>

                                        <h5 class="subtitle mb5">Y </h5>

                                        <span class="badge badge-primary" style="padding: 4px 9px;">{{ParametroY}}</span>
                                        <div class="progress">
                                            <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="700" style="width: {{ParametroY}}%">
                                                <span class="sr-only">60% Complete (success)</span>
                                            </div>

                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-sm-4">
                                        <div class="panel panel-default">
                                            <div class="panel-body">
                                                <div style="text-align:center; margin-bottom:-25px">{{'dashboard_Machine_FeedRate' | translate }}</div>
                                                <just-gage id="test5" value="{{FeedRateAttuale}}" title="" max="2000"></just-gage>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="panel panel-default">
                                            <div class="panel-body">
                                                <div style="text-align:center; margin-bottom:-25px">{{'dashboard_Machine_BladeSpeed' | translate }}</div>
                                                <just-gage id="test3" value="{{BladeSpeedAttuale}}" title="" max="120"></just-gage>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="panel panel-default">
                                            <div class="panel-body">
                                                <div style="text-align:center; margin-bottom:-25px">{{ 'dashboard_Machine_CorrenteAssorbita' | translate }}</div>
                                                <just-gage id="test2" max="20" value="{{CorrenteAssorbita}}" title=""></just-gage>
                                            </div>
                                        </div>
                                    </div>
                                </div><!-- panel -->
                            </div>
                        </div>
                    </div><!-- col-sm-7 -->

                    <div class="col-sm-4">
                        <div class="panel panel-default">
                            <div class="panel-body" style="line-height:2;font-size:15px ">
                                <h5 class="subtitle mb5">{{ 'dashboard_Machine_Variable' | translate }}</h5>
                                <p class="mb15"></p>
                                <ul class="profile-social-list">
                                    <li><i class="glyphicon glyphicon-heart"></i> {{ 'dashboard_Machine_TimeMachine' | translate }}: {{TempoVitaMacchinaH}}:{{TempoVitaMacchinaM}}:{{TempoVitaMacchinaS}}</li>
                                    <li><i class="glyphicon glyphicon-time"></i> {{ 'dashboard_Machine_TimeCut' | translate }}: {{TempoTaglioSingoloH}}:{{TempoTaglioSingoloM}}:{{TempoTaglioSingoloS}}</li>
                                    <li><i class="glyphicon glyphicon-time"></i> {{ 'dashboard_Machine_TimeTotal' | translate }}: {{TempoTotaleTagliH}}:{{TempoTotaleTagliM}}:{{TempoTotaleTagliS}}</li>
                                    <li><i class="glyphicon glyphicon-wrench"></i> {{ 'dashboard_TestaturaLama' | translate }}: {{TestaturaLama}}</li>
                                    <li><i class="glyphicon glyphicon-compressed"></i> {{ 'dashboard_Machine_Program' | translate }}: {{Programma}}</li>
                                    <li><i class="glyphicon glyphicon-pencil"></i> {{ 'dashboard_Machine_PartNumber' | translate }}: {{PartNumber}}</li>
                                    <li><i class="glyphicon glyphicon-resize-vertical"></i> {{ 'dashboard_Machine_plannedmeasurement' | translate }}: {{MisuraProgrammata}}</li>
                                    <li><i class="glyphicon glyphicon-file"></i> {{ 'dashboard_Machine_plannedPiecess' | translate }}: {{ PezziProdotti }}</li>
                                </ul>
                            </div><!-- panel-body -->
                        </div><!-- panel -->


                    </div><!-- col-sm-6 -->
                </div><!-- row -->

                <div class="row">
                    <div class="col-sm-12">
                        <!--<div class="tab-pane " id="home">
                    <div class="col-sm-12">-->
                        <div class="panel-body">
                            <h5 class="subtitle mb5">{{ 'dashboard_Machine_Energy' | translate }}</h5>
                            <p class="mb15"></p>
                            <nvd3 options="options_multiBarChart" data="data_multiBarChart"></nvd3>
                        </div>
                        <!--</div>
                </div>-->
                    </div>
                </div>
            </div>


            <!-- finestre di messaggistica-->
            <div ng-include="'common-messages.html'"></div>


            <!--modal messaggi utente-->
                       <div id="modalTestAreaM2MLoading" class="modal fade bs-example-modal-static" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                               <div class="modal-dialog">
                                        <div class="modal-content">
                                               <div class="modal-header warning">
                                                        <h1 class="modal-title"><span class="fa fa-cloud-upload"></span> {{ 'machine_registerMachineToM2MResult_modal_title' | translate }} </h1>
                            
                        </div>
                                                <div class="modal-body">
                                                        <img src="images/loaders/loader15.gif" class="pull-left" />
                                                        <span style="padding:10px;"> {{ 'dashboard_Machine_ConnectionServer' | translate }}</span>
                            
                        </div>
                        
                    </div><!-- modal-content -->
                    
                </div><!-- modal-dialog -->
                
            </div>

         

                        <div id="modalTestAreaM2MError" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                        <div class="modal-content">
                                                <div class="modal-header bg-warning">
                                                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                                       <h1 class="modal-title" style="color:white;"><span class="fa fa-cloud-upload"></span>    {{ 'machine_registerMachineToM2MResult_modal_title' | translate }}  </h1>
                            
                        </div>
                                                <div class="modal-body">
                                                        <span>{{realTimeErrorMessage}}</span>
                            
                        </div>
                                                <div class="modal-footer">
                                                        <button type="button" class="btn btn-danger" data-dismiss="modal" aria-hidden="true">{{ 'general_Label_Close' | translate }}</button>
                            
                        </div>
                        
                    </div><!-- modal-content -->
                    
                </div><!-- modal-dialog -->
                
            </div>
            
                        <!-- Modal -->
                        <div class="modal fade" id="modalRealTimeActivate" tabindex="-1" role="dialog" data-backdrop="static" aria-labelledby="myModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                       <div class="modal-content">
                                                <div class="modal-header">
                                                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                                        <h4 class="modal-title" id="myModalLabel">   {{ 'dashboard_BannerActiveRealTimeTitle' | translate }}</h4>
                            
                        </div>
                                                <div class="modal-body">
                                                        {{ 'dashboard_BannerActiveRealTime' | translate }}
                            
                        </div>
                                                <div class="modal-footer">
                                                        <button type="button" class="btn btn-default" data-dismiss="modal">{{ 'general_General_Button_No' | translate }}</button>
                                                        <button type="button" class="btn btn-primary" ng-click="ToRealTimeActivate()">{{ 'general_General_Button_Ok' | translate }}</button>
                            
                        </div>
                        
                    </div><!-- modal-content -->
                    
                </div><!-- modal-dialog -->
                
            </div><!-- modal -->
                        <!-- Modal -->
                        <div class="modal fade" id="modalRealTimeDeactivate" tabindex="-1" role="dialog" data-backdrop="static" aria-labelledby="myModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                        <div class="modal-content">
                                               <div class="modal-header">
                                                       <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                                        <h4 class="modal-title" id="myModalLabel">{{ 'dashboard_BannerDisableRealTimeTitle' | translate }}</h4>
                           
                        </div>
                                                <div class="modal-body">
                                                        {{ 'dashboard_BannerDisableRealTime' | translate }}
                            
                        </div>
                                                <div class="modal-footer">
                                                        <button type="button" class="btn btn-default" data-dismiss="modal">{{ 'general_General_Button_No' | translate }}</button>
                                                       <button type="button" class="btn btn-primary" ng-click="ToRealTimeDeactivate()">{{ 'general_General_Button_Ok' | translate }}</button>
                            
                        </div>
                        
                    </div><!-- modal-content -->
                    
                </div><!-- modal-dialog -->
                
            </div><!-- modal -->

        </div>
    </div><!-- mainpanel -->



    <script src="js/loadAllScript.js"></script>
    <script src="js/raphael-2.1.4.min.js"></script>
    <script src="js/justgage.js"></script>
    <script src="js/ng-justgage.js"></script>
    <script src="Scripts/jquery.signalR-2.2.0.js"></script>
    <script src="app/controllers/dashboard.macchina.controller.js"></script>
    <script src="app/controllers/accessi/accessi.controller.js"></script>

</body>
</html>



