﻿<!DOCTYPE html>
<html lang="it" ng-app="AppMacchine">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="images/favicon.png" type="image/png">

    <title> {{ 'dashboard' | translate }}</title>


    <link href="css/style.default.css" rel="stylesheet">
    <link href="css/jquery.datatables.css" rel="stylesheet">
    <link rel="stylesheet" href="css/jquery.tagsinput.css" />
    <link rel="stylesheet" href="css/colorpicker.css" />
    <link rel="stylesheet" href="css/dropzone.css" />
    <link rel="stylesheet" href="css/select.css" />
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
    <script src="js/respond.min.js"></script>
    <![endif]-->
    <style>
        .green {
            color: green;
        }

        .red {
            color: red;
        }

        .yellow {
            color: yellow;
        }
    </style>
    <!--<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/nvd3/1.8.2/nv.d3.min.css" />-->
    <link rel="stylesheet" href="css/nv.d3.min.css" />
</head>
<body >
    <!-- Preloader -->
    <div id="preloader">
        <div id="status"><i class="fa fa-spinner fa-spin"></i></div>
    </div>
    <!-- leftpanel -->
    <div class="leftpanel" ng-controller="menuCtrl" ng-include="'left-side.html'"> </div>
    <!-- leftpanel -->
    <div class="mainpanel">
        <!-- toppanel -->
        <div ng-controller="AccessiCtrl" ng-include="'top-side.html'"></div>
        <!-- toppanel -->
        <div ng-controller="DashboardCtrl">
            <div class="pageheader">
                <h2><i class="fa fa-list-alt"></i> {{ 'dashboard_Pannel_Controll' | translate }}</h2> 
                <!--<h2><i class="fa fa-list-alt"></i>{{ Traduzioni }}</h2>-->
            </div>
            <div class="contentpanel">
                <div class="row">
                    <div class="col-sm-6 col-md-3">
                        <div class="panel panel-success panel-stat">
                            <div class="panel-heading">
                                <div class="stat">
                                    <div class="row">
                                        <div class="col-xs-4">
                                            <img src="images/is-user.png" alt="" />
                                        </div>
                                        <div class="col-xs-8">
                                            <small class="stat-label">{{ 'dashboard_Active_Operators' | translate }}</small>
                                            <h1>{{ OperatoriAttivi }}</h1>
                                        </div>
                                    </div><!-- row -->
                                    <div class="mb15"></div>
                                    <!--<div class="row">
                                        <div class="col-xs-6">
                                            <small class="stat-label">Ora precendente</small>
                                            <h4>{{ OperatoriAttiviOraPrec }}</h4>
                                        </div>
                                    </div>-->
                                    <!-- row -->
                                </div><!-- stat -->
                            </div><!-- panel-heading -->
                        </div><!-- panel -->
                    </div><!-- col-sm-6 -->
                    <div class="col-sm-6 col-md-3">
                        <div class="panel panel-danger panel-stat">
                            <div class="panel-heading">
                                <div class="stat">
                                    <div class="row">
                                        <div class="col-xs-4">
                                            <img src="images/is-document.png" alt="" />
                                        </div>
                                        <div class="col-xs-8">
                                            <small class="stat-label">{{ 'dashboard_Allarm' | translate }}</small>
                                            <h1>{{ OrdiniInAllarme }}</h1>
                                        </div>
                                    </div><!-- row -->
                                    <div class="mb15"></div>
                                    <!--<small class="stat-label">Ora precendente</small>
                                    <h4>{{ OrdiniInAllarmeOraPrec }}</h4>-->
                                </div><!-- stat -->
                            </div><!-- panel-heading -->
                        </div><!-- panel -->
                    </div><!-- col-sm-6 -->
                    <div class="col-sm-6 col-md-3">
                        <div class="panel panel-primary panel-stat">
                            <div class="panel-heading">
                                <div class="stat">
                                    <div class="row">
                                        <div class="col-xs-4">
                                            <img src="images/is-document.png" alt="" />
                                        </div>
                                        <div class="col-xs-8">
                                            <small class="stat-label">{{ 'dashboard_Machine' | translate }}</small>
                                            <h1>{{ MacchinariAttiviOraPrec }}</h1>
                                        </div>
                                    </div><!-- row -->
                                    <div class="mb15"></div>
                                    <!--<small class="stat-label">Ora precedente</small>
                                    <h4>{{ MacchinariAttiviOraPrec }}</h4>-->
                                </div><!-- stat -->
                            </div><!-- panel-heading -->
                        </div><!-- panel -->
                    </div><!-- col-sm-6 -->
                    <div class="col-sm-6 col-md-3">
                        <div class="panel panel-dark panel-stat">
                            <div class="panel-heading">
                                <div class="stat">
                                    <div class="row">
                                        <div class="col-xs-4">
                                            <img src="images/is-money.png" alt="" />
                                        </div>
                                        <div class="col-xs-8">
                                            <small class="stat-label">{{ 'dashboard_Oee' | translate }}</small>
                                            <h1>{{ OEEMedia }}%</h1>
                                        </div>
                                    </div><!-- row -->
                                    <div class="mb15"></div>
                                    <!--<div class="row">
                                        <div class="col-xs-6">
                                            <small class="stat-label">Ora precedente</small>
                                            <h4>{{ OEEMediaOraPrec }}%</h4>
                                        </div>
                                    </div> row-->
                                </div><!-- stat -->
                            </div><!-- panel-heading -->
                        </div><!-- panel -->
                    </div><!-- col-sm-6 -->
                </div><!-- row -->
                <div class="row">
                    <div class="col-sm-12">
                        <div class="table-responsive">
                            <table class="table" id="mainTable" datatable="ng" dt-options="dtOptions" dt-columns="dtColumns" dt-instance="dtInstance">
                                <thead>
                                    <tr>
                                        <!-- <th>Id</th>-->
                                        <th></th>
                                        <th>{{ 'general_Label_Operator_Name' | translate }} {{ 'designer_ListBase_Phases_Machine2' | translate }}</th>
                                        <th>{{ 'dashboard_Orders_Odp' | translate }}</th>
                                        <!--<th>{{ 'dashboard_Orders_Odp_Partial' | translate }}</th>-->
                                        <th>{{ 'production_CodeArt' | translate }}</th>
                                        <th>{{ 'production_Lenght_Piece' | translate }}</th>
                                        <!--<th>Data consegna </th>-->
                                        <th>{{ 'dashboard_Orders_Piece' | translate }}</th>
                                        <th>{{ 'dashboard_Orders_Material' | translate }}</th>

                                        <th>{{ 'dashboard_Orders_State' | translate }}</th>
                                        <th>{{ 'dashboard_Orders_Progress' | translate }}</th>
                                        <th>{{ 'dashboard_Orders_Oee' | translate }}</th>
                                    </tr>
                                </thead>
                                <tbody style="font-size:20px;">
                                    <tr id="{{ item.id }}" ng-repeat="item in Ordini track by item.id" ng-dblclick="update()">
                                        <td><a href="dashboard-macchina.html?Id={{item.macchinaCorrente.id}}"><img src="images\machines\{{item.macchinaCorrente.tipologia.item.nome}}.gif" width="70" height="70" /></a></td>
                                        <td>{{ item.macchinaCorrente.nome }}</td>
                                        <td>{{ item.odP }}</td>
                                        <!--<td>{{ item.odPParziale }}</td>-->
                                        <td>{{ item.odV }}</td>
                                        <!--<td>{{ item.odV_DataConsegna | date: 'dd/MM/yyyy' }}</td>-->
                                        <td>{{ item.lunghezza }}</td>
                                        <td>{{ item.pezziDaProdurre }}</td>
                                        <td>{{ item.materiale.toString }}</td>


                                        <td><span style="font-size: 20px;" ng-class="{'glyphicon glyphicon-exclamation-sign red': item.stato === 'inLavorazioneInEmergenza',  'glyphicon glyphicon-ok green': item.stato === 'inLavorazione',  'glyphicon glyphicon-pause orange': item.stato === 'inLavorazioneInPausa' , 'glyphicon glyphicon-flag': item.stato === 'inAttesa' }" title="{{ item.stato }}"></span>   </td>
                                        <td>
                                            <span class="badge " style="font-size:24px">{{ item.pezziProdotti }}</span>
                                            <span class="badge " style="font-size:20px">{{ item.percCompletamento }} %</span>
                                            <div class="progress" style="margin-top:2px;">
                                                <div ng-class="{'progress-bar':true ,'progress-bar-success': item.stato !== 'inLavorazioneInEmergenza',  'progress-bar-danger': item.stato === 'inLavorazioneInEmergenza'}" role="progressbar" aria-valuenow="{{ item.percCompletamento }}" aria-valuemin="0" aria-valuemax="100" ng-style="{width: item.percCompletamento  + '%'}"></div>
                                            </div>
                                            {{ item.inizio | date: 'dd/MM/yyyy hh:mm:ss'  }}
                                        </td>
                                        <td style="font-size: 24px;">
                                            {{ item.oee }} %
                                            <span style="font-size: 24px;" ng-class="{'fa fa-long-arrow-down red': item.oeeAndamento === 'inDiscesa',  'fa fa-long-arrow-up green': item.oeeAndamento === 'inSalita',  'fa fa-arrows-h ': item.oeeAndamento === 'stabile' }" title="{{ item.stato }}"></span>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div><!-- table-responsive -->
                    </div><!-- col-sm-7 -->
                    <!--<div class="col-sm-4">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <h5 class="subtitle mb5">{{ 'dashboard_Order_Status' | translate }}</h5>
                                <p class="mb15"></p>
                                <nvd3 options="optionsGraphOrderStatus" data="dataGraphOrderStatus"></nvd3>
                            </div><!-- panel-body -->
                        </div><!-- panel -->
                    </div><!-- col-sm-6 -->
                </div><!-- row -->
                <div class="row">
                    <!--<div class="col-sm-12">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <h5 class="subtitle mb5">Consumo energetico</h5>
                                <p class="mb15"></p>
                                <nvd3 options="options_multiBarChart" data="data_multiBarChart" ></nvd3>
                            </div>
                        </div>
                    </div>-->
                </div>
            </div>
            <!-- finestre di messaggistica-->
            <div ng-include="'common-messages.html'"></div>
        </div>
    </div><!-- mainpanel -->

    <script src="js/loadAllScript.js"></script>
    <script src="app/controllers/dashboard.controller.js"></script>
    <script src="app/controllers/accessi/accessi.controller.js"></script>
    <script src="Scripts/jquery.signalR-2.2.0.js"></script>
</body>
</html>



