﻿<div class="row">
    <div class="col-md-8" >
        <fieldset ng-disabled="pviewState=='U' || pviewState=='C'">
            <div class="panel panel-default" ng-disabled="true">

                <div class="panel-body">
                    <div class="table-responsive">
                        <table class="table" id="pmainTable" datatable="ng" dt-options="pdtOptions" dt-columns="dtColumns" dt-instance="pdtInstance">
                            <thead>
                                <tr>
                                    <!--  <th>Id</th>-->
                                    <!--<th ng-hide="true" style="width:0px">Codice</th>-->
                                    <th>{{ 'general_Label_Operator_Name' | translate }}</th>
                                    <th>{{ 'designer_ListBase_Phases_Parameters_Value' | translate }}</th>
                                    <th>{{ 'designer_ListBase_Phases_Parameters_Type' | translate }}</th>
                                    <th>{{ 'designer_ListBase_Phases_Parameters_Visibility' | translate }}</th>
                                    <th>{{ 'designer_ListBase_Phases_Parameters_Unit_Measure' | translate }}</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr id="{{ pitem.id }}" ng-repeat="pitem in currentItem.distintaBase.distintaBaseParametri |  filter : {isTrend : false }" on-finish-render="ngRepeatFinished" ng-click="pshowItemDetail(pitem)" ng-dblclick="pupdate()"
                                    ng-class="{'selected': pcurrentItem.nome === pitem.nome}">
                                    <td>{{ pitem.nome }}</td>
                                    <td>{{ pitem.valoreDefault }}</td>
                                    <td>{{ pitem.tipo }}</td>
                                    <td> <input type="checkbox" ng-model="pitem.visibilita" disabled /> </td>
                                    <td>{{ pitem.unitaDiMisura.item.nome }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div><!-- table-responsive -->

                </div><!-- panel-body -->
            </div><!-- panel -->
        </fieldset>
    </div>
    <div class="col-md-4">
        <div class="panel panel-default">
            <fieldset ng-disabled="pviewState=='R' || currentStatus!='inModifica'"> 
                <div class="panel-heading">
                    <h3 class="panel-title">{{ 'general_Label_Detail' | translate }} {{pcurrentItem.codice}}</h3>
                </div>
                <div class="panel-body">

                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label class="control-label">{{ 'general_Label_Code' | translate }}</label>
                                <input style="width:80%; float:right;" type="text" name="codice" class="form-control" ng-model="pcurrentItem.codice" ng-disabled="true" />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label class="control-label">{{ 'general_Label_Operator_Name' | translate }}</label>
                                <input style="width:80%; float:right;" type="text" name="nome" class="form-control" ng-model="pcurrentItem.nome" ng-disabled="true" />
                            </div>
                        </div>
                    </div>
                    <!--<div class="row">
        <div class="col-sm-12">
            <label class="control-label">Tipo dato</label>
            <div class="form-group" style="width:60%; float:right;">
                <select class="form-control chosen-select" chosen
                        ng-model="pcurrentItem.tipo" ng-disabled="true">
                    <option ng-repeat="cbTipoDato in cbTipiDato  track by cbTipoDato.value" value="{{cbTipoDato.value}}"
                            ng-selected="pcurrentItem.tipo === cbTipoDato.value">
                        {{cbTipoDato.value}}
                    </option>
                </select>
            </div>
        </div>
    </div>-->
                    <!--======================-->
                    <div class="row" ng-hide="pcurrentItem.tipo!='string'">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label class="control-label">{{ 'production_Value' | translate }}</label>
                                <input style="width:60%; float:right;" type="text" name="valoredefault" class="form-control" ng-model="pcurrentItem.valoreDefault" ng-disabled="pviewState=='R' || currentStatus!='inModifica' || pcurrentItem.visibilita==false" />
                            </div>
                        </div>
                    </div>


                    <div class="row" ng-hide="pcurrentItem.tipo!='numeric'">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label class="control-label">{{ 'production_Value' | translate }}</label>
                                <input style="width:60%; float:right;" type="text" name="valoredefault" class="form-control" ng-model="pcurrentItem.valoreDefault" onkeypress="return isNumber(event)" ng-disabled="pviewState=='R' || currentStatus!='inModifica' || pcurrentItem.visibilita==false" />
                            </div>
                        </div>
                    </div>


                    <div class="row">
                        <div class="col-sm-12" ng-hide="pcurrentItem.tipo!='date'">
                            <div class="form-group">
                                <label class="control-label">{{ 'production_Value' | translate }}</label>
                                <div id="dp-container" style="width:60%; float:right;">
                                    <div class="input-group date" id="datepicker">
                                        <input type="text" class="form-control" ng-model="pcurrentItem.valoreDefault" ng-disabled="pviewState=='R' || currentStatus!='inModifica' || pcurrentItem.visibilita==false">
                                        <div class="input-group-addon">
                                            <i class="glyphicon glyphicon-calendar"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="row" ng-hide="pcurrentItem.tipo!='dateTime'">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label class="control-label">{{ 'production_Value' | translate }}</label>
                                <div style="width:60%; float:right;">
                                    <div class="input-group date form_datetime">
                                        <input type="text" class="form-control" ng-model="pcurrentItem.valoreDefault" ng-disabled="pviewState=='R' || currentStatus!='inModifica' || pcurrentItem.visibilita==false">
                                        <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="row" ng-hide="pcurrentItem.tipo!='bool'">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label class="control-label">{{ 'production_Value' | translate }}</label>
                                <input style="width:55%; float:initial;" type="checkbox" ng-model="pcurrentItem.valoreDefault" /> <span style="float:left;" ng-disabled="pviewState=='R' || currentStatus!='inModifica' || pcurrentItem.visibilita==false" />
                            </div>
                        </div>
                    </div>
                    <!--======================-->



                    <div class="row" ng-hide="pcurrentItem.tipo!='list'">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label class="control-label">{{ 'production_Value' | translate }}</label>
                                <div class="form-group" style="width:60%; float:right;">
                                    <select class="form-control chosen-select" ng-model="pcurrentItem.valoreDefault">
                                        <option value="" disabled hidden selected>{{'general_label_select' | translate }}</option>
                                        <option ng-repeat="item in PlistaValori track by item" value="{{item}}" ng-selected="item===pcurrentItem.valoreDefault">
                                            {{item}}
                                        </option>
                                    </select>
                                </div>
                                </div>
                            </div>
                    </div>


                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label class="control-label">{{ 'designer_ListBase_Phases_Parameters_Unit_Measure' | translate }}</label>
                                <div class="form-group" style="width:60%; float:right;">
                                    <select class="form-control chosen-select" chosen
                                            ng-model="pcurrentItem.unitaDiMisura.id" ng-disabled="true">
                                        <option value="" disabled hidden selected>{{'general_label_select' | translate }}</option>
                                        <option ng-repeat="unitadimisura in ListaUnitaDiMisura track by unitadimisura.id" value="{{unitadimisura.id}}"
                                                ng-selected="pcurrentItem.unitaDiMisura.id === unitadimisura.id">
                                            {{unitadimisura.nome}}
                                        </option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--<div class="row">
        <div class="col-sm-12">
            <label class="control-label">Visibilità </label>
            <div class="form-group" style="width:80%; float:right;" ng-disabled="true">
                <label>
                    <input type="radio" ng-model="pcurrentItem.visibilita" ng-value='true' ng-checked="pcurrentItem.visibilita">
                    Pubblico &nbsp&nbsp&nbsp&nbsp
                </label>
                <label>
                    <input type="radio" ng-model="pcurrentItem.visibilita" ng-value='false' ng-checked="!pcurrentItem.visibilita">
                    Privato
                </label>
            </div>
        </div>
    </div>-->





                </div><!-- panel-body -->
                <div class="panel-footer" style="padding: 10px;">
                    <button class="btn btn-primary" ng-click="pconfirm()"><span class="fa fa-save"></span> {{ 'general_Button_Save' | translate }}</button>
                    <button class="btn btn-white" ng-click="pcancel()"><span class="fa  fa-undo"></span> {{ 'general_General_Button_Annul' | translate }}</button>
                    <!--<button class="btn btn-danger" data-toggle="modal" data-target="#pmodalConfirmDelete"><span class="fa fa-trash-o"></span> Elimina</button>-->
                </div>

                <!-- Modal -->
                <div class="modal fade" id="pmodalConfirmDelete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                <h4 class="modal-title" id="myModalLabel">{{ 'general_General_Label_Conf_Delete' | translate }}</h4>
                            </div>
                            <div class="modal-body">
                                {{ 'general_General_Label_Alert' | translate }}
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="pmodal">{{ 'general_General_Button_No' | translate }}</button>
                                <button type="button" class="btn btn-primary" ng-click="pdelete()">{{ 'general_General_Button_Ok' | translate }}</button>
                            </div>
                        </div><!-- modal-content -->
                    </div><!-- modal-dialog -->
                </div><!-- modal -->
            </fieldset>
        </div><!-- panel -->
    </div>
</div>



<script>
        //https://uxsolutions.github.io/bootstrap-datepicker/?markup=input&format=&weekStart=&startDate=&endDate=&startView=0&minViewMode=0&maxViewMode=4&todayBtn=false&clearBtn=true&language=it&orientation=auto&multidate=&multidateSeparator=&autoclose=on&keyboardNavigation=on&forceParse=on&toggleActive=on#sandbox
        //https://media.readthedocs.org/pdf/bootstrap-datepicker/latest/bootstrap-datepicker.pdf
        $('#dp-container .date').datepicker({
            clearBtn: true,
        language: "it",
        autoclose: true,
        toggleActive: true,
        //daysOfWeekDisabled: "6,7",
        todayHighlight: true,
    });



    //https://www.malot.fr/bootstrap-datetimepicker/demo.php?utm_source=siteweb&utm_medium=demo&utm_campaign=Site%2BWeb
    //https://www.malot.fr/bootstrap-datetimepicker/
    $(".form_datetime").datetimepicker({
            format: "dd/mm/yyyy hh:ii",
        autoclose: true,
        todayBtn: true,
        startDate: "2017-01-01 00:00",
        minuteStep: 10,
        language: "it",
        toggleActive: true,
        //daysOfWeekDisabled: "6,7",
        todayHighlight: true,
    });



    function isNumber(evt) {
            evt = (evt) ? evt : window.event;
        var ch = (evt.which) ? evt.which : evt.keyCode;
        if ((ch > 31 && ch < 45) || ch == 47 || ch > 57) {
            return false;
        }
        return true;
    }

</script>

