﻿<div class="container-fluid">


        <div class="row">
            <div class="col-md-4">

                <table class="table-hover table-bordered" id="mytable" style="width: 100%;">

                    <tbody>
                        <tr ng-repeat="node in nodesTableArr | filter : {isShow : true }" ng-click="AnalisiPhaseRowSelected(node)">

                            <td nowrap ng-class="[hasDropdown(node), selectIndentationClass(node)]">
                                <span ng-click="toggleDropdown(node, nodesTableArr)" class="title"> {{node.name}}</span>
                            </td>

                            <td ng-hide="true"> {{node.id}} </td>

                            <td ng-hide="true">
                                <span ng-click="addChildNode(node)" class="glyphicon glyphicon-stats" aria-hidden="true" data-toggle="tooltip"
                                      data-placement="top" title="Grafici Fase">
                                </span>

                                <span ng-click="deleteNode(node)" class="glyphicon glyphicon-minus" aria-hidden="true" data-toggle="tooltip"
                                      data-placement="top" title="Visualizzazione alternativa 1" style="padding-left:10px">
                                </span>

                                <span ng-click="editNode(node)" class="glyphicon glyphicon-edit" aria-hidden="true" data-toggle="tooltip"
                                      data-placement="top" title="Visualizzazione alternativa 2" style="padding-left:10px">
                                </span>
                            </td>

                        </tr>
                    </tbody>

                </table>
            </div>

            <div class="col-md-8">

                <div class="col-md-12">
                    <div style="float:left;"><h4>{{ 'production_Events' | translate }} <b>{{AnalisiPhaseSelected.name}}</b></h4></div>
                    <div style="float:left;margin-left:20px;"><h4>{{ 'production_piecesProduced' | translate }}: <b>{{AnalisiDataFase.pezziProdotti}}</b></h4></div>
                    <div style="float:left;margin-left:20px;"><h4>{{ 'production_plannedPieces' | translate }}: <b>{{AnalisiDataFase.pezziPianificati}}</b></h4></div>
                    <div style="float:right;" excel-export export-data="exportData" file-name="{{fileName}}"></div>
                </div>
                    <div class="table-responsive">
                        <table class="table" id="evmainTable" datatable="ng" dt-options="pdtOptions" dt-columns="dtColumns" dt-instance="pdtInstance">
                            <thead>
                                <tr>

                                    <th>{{ 'production_phase' | translate }}</th>
                                    <th>{{ 'general_Label_State' | translate }}</th>
                                    <th>{{ 'production_Start' | translate }}</th>
                                    <th>{{ 'production_Stop' | translate }}</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr id="{{ pitem.id }}" ng-repeat="pitem in AnalisiData" ng-click="evshowItemDetail(pitem)"
                                    ng-class="{'selected': evcurrentItem.numeroFase === pitem.numeroFase}">

                                    <td>{{ pitem.codiceFase}} ({{ pitem.numeroFase }}) </td>
                                    <td>{{ pitem.nota }}</td>
                                    <td>{{ dFormat(pitem.inizio,pitem.nota) }}</td>
                                    <td>{{ dFormat(pitem.fine,pitem.nota) }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

            </div>

            <!--https://datatables.net/examples/index-->
            <!--https://datatables.net/examples/basic_init/multi_col_sort.html-->

        </div>

    </div>






                <!--NOCDN<script src="http://cdnjs.cloudflare.com/ajax/libs/jszip/2.5.0/jszip.min.js"></script>
                <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.8.1/xlsx.js"></script>
                <script src="https://fastcdn.org/FileSaver.js/1.1.20151003/FileSaver.js"></script>-->
<script src="js/jszip.min.js"></script>
<script src="js/xlsx.js"></script>
<script src="js/FileSaver.js"></script>


<style>
.exportExcel{
  padding: 5px;
  border: 1px solid grey;
  margin: 5px;
  cursor: pointer;
}

#mytable tbody span.title{
    font-size:120%;cursor:pointer;
    line-height: 30px;
    font-weight: 500;
}
.level0 {
  text-indent: 0px;
  color: #428bca;
}
.level1 {
  text-indent: 20px;
  color: #428bca;
}
.level2 {
  text-indent: 40px;
  color: #428bca;
}
.level3 {
  text-indent: 60px;
  color: #428bca;
}
.level4 {
  text-indent: 80px;
  color: #428bca;
}
.level5 {
  text-indent: 100px;
  color: #428bca;
}
.level6 {
  text-indent: 120px;
  color: #428bca;
}
.hasDropdown {
  color: #428bca;
}
.noDropdown {
  color: #808080;
}
div.tooltip-inner {
  text-align: center;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  margin-bottom: 6px;
  background-color: #505050;
  font-size: 14px;
}
</style>

