﻿<!--<div class="container-fluid" >-->

    <div class="row">
        <div class="col-md-4">

            <div class="row" style="padding-bottom:10px;padding-right:10px;">
                <div style="float:right;" excel-export export-data="exportDataTrend" file-name="{{fileNameTrend}}"></div>
                <button  class="btn btn-info"  style="float:right; background-color: #3276b1;" ng-click="refresh()"><span class="fa fa-sync"></span>{{ 'general_Label_Refresh' | translate }}</button>
            </div>
            <div class="table-responsive">

                <table class="table" id="trmainTable" datatable="ng" dt-options="pdtOptions" dt-columns="dtColumns" dt-instance="pdtInstance">
                    <thead>
                        <tr>
                            <th>{{ 'production_parameter' | translate }}</th>
                            <th>{{ 'production_Med' | translate }}</th>
                            <th>{{ 'production_Min' | translate }}</th>
                            <th>{{ 'production_Max' | translate }}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr id="{{ pitem.id }}" ng-repeat="pitem in parametersData" ng-click="trshowItemDetail(pitem)"
                            ng-class="{'selected': checkIfSelected(pitem)}">
                            <td>{{ pitem.nome }}</td>
                            <td>{{ pitem.vavg }}</td>
                            <td>{{ pitem.vmin }}</td>
                            <td>{{ pitem.vmax }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>

        </div>

        <div class="col-md-8" style="border: 1px solid gray; background-color:#f0f0f0">
            <nvd3 options="options_multiBarChart" data="data_multiBarChart"></nvd3>
        </div>

    </div>

    <!--</div>-->


