﻿<!DOCTYPE html>
<html lang="it" ng-app="AppMacchine">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="images/favicon.png" type="image/png">
    <title>{{ 'dashboard_Left_Menu_System' | translate }}</title>
    <link href="css/style.default.css" rel="stylesheet">
    <link href="css/jquery.datatables.css" rel="stylesheet">
    <link rel="stylesheet" href="css/jquery.tagsinput.css" />
    <link rel="stylesheet" href="css/colorpicker.css" />
    <link rel="stylesheet" href="css/dropzone.css" />
    <!--NOCDN<link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/select2/3.4.5/select2.css">
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.8.5/css/selectize.default.css">-->
    <link rel="stylesheet" href="css/select2.css">
    <link rel="stylesheet" href="css/selectize.default.css">

    <link rel="stylesheet" href="css/select.css" />
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
    <script src="js/respond.min.js"></script>
    <![endif]-->

</head>
<body>
    <!-- Preloader -->
    <div id="preloader">
        <div id="status"><i class="fa fa-spinner fa-spin"></i></div>
    </div>

    <!-- leftpanel -->
    <div class="leftpanel" ng-controller="menuCtrl" ng-include="'left-side.html'"> </div>
    <!-- leftpanel -->

    <div class="mainpanel">
        <!-- toppanel -->
        <div ng-include="'top-side.html'"></div>
        <!-- toppanel -->

        <div ng-controller="SistemaCtrl">
            <!--<div class="pageheader">
                <h2><i class="fa fa-list-alt"></i> Tabelle <span>Parametri</span></h2>
            </div>-->
            <div class="contentpanel">
                <div class="row">
                    <div ng-class="IsFullScreenOnEdit ? 'col-md-12' : 'col-md-12'">
                        <fieldset >
                            <div class="panel panel-default" ng-disabled="true">
                                <div class="panel-heading padding10">
                                    <div class="row">
                                        <div class="col-md-10">
                                            <h3 class="panel-title">{{ 'dashboard_Left_Menu_System' | translate }}</h3>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel-body">
                                    <div class="table-responsive">
                                        <div ng-class="IsFullScreenOnEdit ? 'col-md-12' : 'col-md-4'" >
                                            <div class="panel panel-default">
                                                <fieldset>

                                                    <div class="panel-body">

                                                        <div class="row">
                                                            <div class="col-sm-12">
                                                                <div class="form-group">
                                                                    <label class="control-label">{{ 'dashboard_System_Name' | translate }}</label>
                                                                    <input type="text" name="LicencedAt_Name" class="form-control" ng-model="currentItem.licencedAt_Name" disabled />

                                                                </div>
                                                            </div><!-- col-sm-6 -->
                                                            <div class="col-sm-12">
                                                                <div class="form-group">
                                                                    <label class="control-label">{{ 'dashboard_System_VatCode' | translate }}</label>
                                                                    <input type="text" name="LicencedAt_VatCode" class="form-control" ng-model="currentItem.licencedAt_VatCode" disabled />
                                                                </div>
                                                            </div><!-- col-sm-6 -->
                                                        </div><!-- row -->

                                                        <div class="row">
                                                            <div class="col-sm-12">
                                                                <div class="form-group">
                                                                    <label class="control-label">{{ 'dashboard_System_DateActive' | translate }}</label>
                                                                    <input type="text" name="ActivatedAt" class="form-control" ng-model="currentItem.activatedAt" disabled />
                                                                </div>
                                                            </div><!-- col-sm-6 -->
                                                        </div><!-- row -->
                                                        <div class="row">
                                                            <div class="col-sm-12">
                                                                <div class="form-group">
                                                                    <label class="control-label">{{ 'dashboard_System_Machine' | translate }}</label>
                                                                    <input type="text" name="System_Machine" class="form-control" ng-model="currentItem.maxMachines" disabled />
                                                                </div>
                                                            </div><!-- col-sm-6 -->
                                                        </div><!-- row -->
                                                        

                                                    </div><!-- panel-body -->
                                                    <div class="panel-footer" style="padding: 10px;">
                                                        <button class="btn btn-primary" ng-click="update()"><span class="fa fa-pencil"></span>{{ 'dashboard_System_ChangeCode' | translate }}</button>
                                                    </div>

                                                </fieldset>
                                            </div><!-- panel -->
                                        </div>






                                        <div ng-class="IsFullScreenOnEdit ? 'col-md-12' : 'col-md-4'">
                                            <div class="panel panel-default">
                                                <fieldset>

                                                    <div class="panel-body">

                                                        <div class="row">
                                                            <div class="col-sm-12">
                                                                <div class="form-group">
                                                                    <label class="control-label">{{ 'general_Label_State' | translate }}</label><i ng-show="currentItem.isValid" class="fa fa-check fa-10x" style="color:green; font-size: 24px;"></i><i ng-show="!currentItem.isValid" class="fa fa-times fa-10x" style="color:red; font-size: 24px;"></i>
                                                                    <input type="text" name="State" class="form-control" ng-model="currentItem.isValid" disabled />
                                                                </div>
                                                            </div><!-- col-sm-6 -->
                                                            <div class="col-sm-12">
                                                                <div class="form-group">
                                                                    <label class="control-label">{{ 'dashboard_System_Code' | translate }}</label>
                                                                    <input type="text" name="LicencedAt_Key" class="form-control" ng-model="currentItem.licencedAt_Key"  ng-disabled="viewState=='R'"  />
                                                                </div>
                                                            </div><!-- col-sm-6 -->
                                                        </div><!-- row -->

                                                        <div class="row">
                                                            <div class="col-sm-12">
                                                                <div class="form-group">
                                                                    <label class="control-label">{{ 'dashboard_System_DateLastValidation' | translate }}</label>
                                                                    <input type="text" name="DateLastValidation" class="form-control" ng-model="currentItem.lastValidationAt" disabled style="margin-bottom: 90px;"/>
                                                                </div>
                                                            </div><!-- col-sm-6 -->
                                                        </div><!-- row -->

                                                       <!--  <div class="row">
                                                            <div class="col-sm-12">
                                                                <div class="form-group">
                                                                    <label class="control-label">{{ 'dashboard_System_TypeLicence' | translate }}</label>
                                                                    <input type="text" name="TypeLicence" class="form-control" ng-model="currentItem.licencedAt_Type" disabled />
                                                                </div>
                                                            </div>
                                                        </div> -->

                                                        <!--<div class="row">
                                                            <div class="col-sm-12">
                                                                <div class="form-group">
                                                                    <label class="control-label">Tipo</label>
                                                                    <input type="text" name="tipo" class="form-control" ng-model="currentItem.tipo" />
                                                                </div>
                                                            </div>
                                                        </div>-->


                                                    </div><!-- panel-body -->
                                                    <div class="panel-footer" style="padding: 10px;" >
                                                        <fieldset ng-disabled="viewState=='R'">
                                                            <button class="btn btn-primary" ng-click="confirm()"><span class="fa fa-save"></span> {{ 'general_Button_Save' | translate }}</button>
                                                            <button class="btn btn-white" ng-click="cancel()"><span class="fa  fa-undo"></span> {{ 'general_General_Button_Annul' | translate }}</button>
                                                            </fieldset>

                                                    </div>

                                                    <!-- Modal -->
                                                  
                                                </fieldset>
                                            </div><!-- panel -->
                                        </div>




                                    </div><!-- table-responsive -->
                                </div><!-- panel-body -->



                            </div><!-- panel -->
                        </fieldset>
                    </div>
                
                </div>
            </div>

            <!-- finestre di messaggistica-->
            <div ng-include="'common-messages.html'"></div>
        </div>
    </div><!-- mainpanel -->



    <script src="js/loadAllScript.js"></script>
    <script src="app/controllers/anagrafica/sistema.controller.js"></script>
</body>
</html>



