﻿<!DOCTYPE html>
<html lang="it" ng-app="AppMacchine">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="images/favicon.png" type="image/png">
    <title>{{ 'tables_MachineRegistry' | translate }}</title>

    <link href="css/style.default.css" rel="stylesheet">
    <link href="css/jquery.datatables.css" rel="stylesheet">
    <link rel="stylesheet" href="css/jquery.tagsinput.css" />
    <link rel="stylesheet" href="css/colorpicker.css" />
    <link rel="stylesheet" href="css/dropzone.css" />
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
    <script src="js/respond.min.js"></script>
    <![endif]-->

</head>
<body>
    <!-- Preloader -->
    <div id="preloader">
        <div id="status"><i class="fa fa-spinner fa-spin"></i></div>
    </div>

    <!-- leftpanel -->
    <div class="leftpanel" ng-controller="menuCtrl" ng-include="'left-side.html'"> </div>
    <!-- leftpanel -->

    <div class="mainpanel" >
        <!-- toppanel -->
        <div ng-include="'top-side.html'"></div>
        <!-- toppanel -->

        <div ng-controller="TabelleTipologieMacchineCtrl">

            <div class="contentpanel">
                <div class="row">
                    <div ng-class="IsFullScreenOnEdit ? 'col-md-12' : 'col-md-8'" ng-show="!IsFullScreenOnEdit || (IsFullScreenOnEdit && viewState=='R')">
                        <fieldset ng-disabled="viewState=='U' || viewState=='C'">
                            <div class="panel panel-default" ng-disabled="true">
                                <div class="panel-heading">
                                    <div class="row">
                                        <div class="col-md-10">
                                            <h3 class="panel-title">{{ 'tables_TypeMachine' | translate }}</h3>
                                        </div>
                                        <div class="col-md-2">
                                            <button type="button" class="btn btn-default" ng-click="insert()"><span class="fa fa-plus"></span>{{ 'general_Button_Add' | translate }}</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel-body">
                                    <div class="table-responsive">
                                        <table class="table" id="mainTable" datatable="ng" dt-options="dtOptions" dt-columns="dtColumns" dt-instance="dtInstance">
                                            <thead>
                                                <tr>
                                                    <!--  <th>Id</th>-->
                                                    <th>{{ 'general_Label_Code' | translate }}</th>
                                                    <th>{{ 'general_Label_Operator_Name' | translate }}</th>
                                                    <th>{{ 'general_Label__Desc' | translate }}</th>
                                                    <th>{{ 'general_Label__Disable' | translate }}</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr id="{{ item.id }}" ng-repeat="item in items track by item.id" ng-click="showItemDetail(item)" ng-dblclick="update(item)" ng-class="{'selected': currentItem.id === item.id}">
                                                    <!--<td>{{ item.id }}</td>-->
                                                    <td>{{ item.codice }}</td>
                                                    <td>{{ item.nome }}</td>
                                                    <td>{{ item.descrizione }}</td>
                                                    <td> <input type="checkbox" ng-model="item.isDisable" disabled /> </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div><!-- table-responsive -->

                                </div><!-- panel-body -->
                            </div><!-- panel -->
                        </fieldset>
                    </div>
                    <div ng-class="IsFullScreenOnEdit ? 'col-md-12' : 'col-md-4'" ng-show="!IsFullScreenOnEdit || (IsFullScreenOnEdit && (viewState=='U' || viewState=='C') )">
                        <div class="panel panel-default">
                            <fieldset ng-disabled="viewState=='R'">
                                <div class="panel-heading">
                                    <h3 class="panel-title">{{ 'general_Label_Detail' | translate }}</h3>
                                </div>
                                <div class="panel-body">

                                    <div class="row">
                                        <div class="col-sm-12">
                                            <div class="form-group">
                                                <label class="control-label">{{ 'general_Label_Code' | translate }}</label>
                                                <input type="text" name="codice" class="form-control" ng-model="currentItem.codice" />
                                            </div>
                                        </div><!-- col-sm-6 -->
                                        <div class="col-sm-12">
                                            <div class="form-group">
                                                <label class="control-label">{{ 'general_Label_Operator_Name' | translate }}</label>
                                                <input type="text" name="nome" class="form-control" ng-model="currentItem.nome" />
                                            </div>
                                        </div><!-- col-sm-6 -->
                                    </div><!-- row -->

                                    <div class="row">
                                        <div class="col-sm-12">
                                            <div class="form-group">
                                                <label class="control-label">{{ 'general_Label__Desc' | translate }}</label>
                                                <textarea type="text" cols="40" rows="5" name="descrizione" class="form-control" ng-model="currentItem.descrizione"></textarea>
                                            </div>
                                        </div><!-- col-sm-6 -->
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <div class="ckbox ckbox-primary">
                                                    <input type="checkbox" value="1" id="isDisabled" ng-model="currentItem.isDisable" />
                                                    <label for="isDisabled">{{ 'general_Label__Disabl' | translate }}</label>
                                                </div>
                                            </div>
                                        </div><!-- col-sm-6 -->

                                        <div class="row">
                                            <div class="col-sm-12">
                                                <div class="form-group">
                                                    <label class="control-label">{{ 'tables_Driver' | translate }}</label>
                                                    <div class="form-group">
                                                        <select class="form-control chosen-select" chosen
                                                                ng-model="currentItem.driver" ng-disabled="viewState=='R'" ng-show="currentItem.tipoMateriale == -1">
                                                            <option value="" disabled hidden selected>{{'general_label_select' | translate }}</option>
                                                            <option ng-repeat="typeMachine in GetTipoDriver" value="{{typeMachine.value}}"
                                                                    ng-selected="currentItem.driver === typeMachine.value">
                                                                {{typeMachine.value}}
                                                            </option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div><!-- col-sm-6 -->
                                        </div><!-- row -->

                                    </div><!-- row -->

                                </div><!-- panel-body -->
                                <div class="panel-footer" style="padding: 10px;">
                                    <button class="btn btn-primary" ng-click="confirm()"><span class="fa fa-save"></span> {{ 'general_Button_Save' | translate }}</button>
                                    <button class="btn btn-white" ng-click="cancel()"><span class="fa  fa-undo"></span> {{ 'general_General_Button_Annul' | translate }}</button>
                                    <button class="btn btn-danger" data-toggle="modal" data-target="#modalConfirmDelete"><span class="fa fa-trash-o"></span> {{ 'general_General_Button_Delete' | translate }}</button>
                                </div>

                                <!-- Modal -->
                                <div class="modal fade" id="modalConfirmDelete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                                <h4 class="modal-title" id="myModalLabel">{{ 'general_General_Label_Conf_Delete' | translate }}</h4>
                                            </div>
                                            <div class="modal-body">
                                                {{ 'general_General_Label_Alert' | translate }}
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-default" data-dismiss="modal">{{ 'general_General_Button_No' | translate }}</button>
                                                <button type="button" class="btn btn-primary" ng-click="delete()">{{ 'general_General_Button_Ok' | translate }}</button>
                                            </div>
                                        </div><!-- modal-content -->
                                    </div><!-- modal-dialog -->
                                </div><!-- modal -->
                            </fieldset>
                        </div><!-- panel -->
                    </div>
                </div>
            </div>

            <!-- finestre di messaggistica-->
            <div ng-include="'common-messages.html'"></div>
        </div>
</div><!-- mainpanel -->

<script src="js/loadAllScript.js"></script>
<script src="app/controllers/tabelle/tabelle-tipi-macchina.controller.js"></script>
<script src="app/controllers/accessi/accessi.controller.js"></script>
</body>
</html>



