﻿<div class="headerbar">
    <a class="menutoggle"><i class="fa fa-bars"></i></a>

    <div class="header-right">
        <ul class="headermenu">

            <li>
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                    <img src="images/photos/user.png" alt="" />
                    {{LoggedUser}}
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu dropdown-menu-usermenu pull-right">
                    <li><a ng-click="logOut()"><i class="glyphicon glyphicon-log-out"></i> {{ 'dashboard_Logout' | translate }}</a></li>
                </ul>

            </li>
        </ul>
    </div>
</div><!-- headerbar -->
