﻿<!DOCTYPE html>
<html lang="it">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="images/favicon.png" type="image/png">
    <title>Runtime Riepilogo</title>

    <link href="css/style.default.css" rel="stylesheet">
    <link href="css/jquery.datatables.css" rel="stylesheet">
    <link rel="stylesheet" href="css/jquery.tagsinput.css" />
    <link rel="stylesheet" href="css/colorpicker.css" />
    <link rel="stylesheet" href="css/dropzone.css" />
    <!--NOCDN<link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/select2/3.4.5/select2.css">
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.8.5/css/selectize.default.css">-->
    <link rel="stylesheet" href="css/select2.css">
    <link rel="stylesheet" href="css/selectize.default.css">
    <link rel="stylesheet" href="css/select.css" />
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
    <script src="js/respond.min.js"></script>
    <![endif]-->

    <link rel="stylesheet" href="css/_bootstrap-datepicker.css">
    <link rel="stylesheet" href="css/_bootstrap-datetimepicker.css">


</head>
<body ng-app="AppMacchineRuntime">
    <!-- Preloader -->
    <div id="preloader">
        <div id="status"><i class="fa fa-spinner fa-spin"></i></div>
    </div>
    <div class="mainpanel">
        <!-- toppanel -->
        <div class="row headerbar">
            <div class="pageheader col-md-6">
                <h2><i class="fa fa-list-alt"></i> {{ 'runtime_allsfo_shop_floor' | translate }} <span>{{ 'runtime_allsfo_index' | translate }}</span></h2>
            </div>
            <div class="col-md-6" ng-controller="AccessiCtrl" ng-include="'top-side.html'">

            </div>
        </div>

        <!-- toppanel -->
        <div ng-controller="AllSfoCtrl">
            <div class="contentpanel">

                <div class="row" style="margin-bottom:1px">
                    <div class="panel panel-default">
                        <div class="panel-body" ng-init="bool=false">
                            <button class="btn btn-default pull-left" style="margin-left:15px;" ng-click="filterState('-1',lUser);"><span class="fa fa-tasks" style="margin-right:15px;"></span>{{ 'runtime_allsfo_all' | translate }}</button>
                            <button class="btn btn-default pull-left" style="margin-left:15px;" ng-click="filterState('1',lUser);"><span class="fa fa-flag" style="margin-right:15px;"></span>{{ 'runtime_allsfo_queue' | translate }}</button>
                            <button class="btn btn-default pull-left" style="margin-left:15px;" ng-click="filterState('2',lUser);"><span class="fa fa-play" style="margin-right:15px;"></span>{{ 'runtime_allsfo_production' | translate }}</button>
                            <button class="btn btn-default pull-left" style="margin-left:15px;" ng-click="filterState('3',lUser);"><span class="fa fa-pause" style="margin-right:15px;"></span>{{ 'runtime_allsfo_pause' | translate }}</button>
                            <button class="btn btn-default pull-left" style="margin-left:15px;" ng-click="filterState('5',lUser);"><span class="fa fa-warning" style="margin-right:15px;"></span>{{ 'runtime_allsfo_emergency' | translate }}</button>
                            <select class="btn btn-default pull-left" style="margin-left:15px; height:35px; margin-right:15px; text-transform: uppercase;" ng-model="Macchine.id" ng-change="filterState(filterIdStato,lUser,Macchine.id)">
                                <option value="-1" selected>{{ 'runtime_allsfo_select' | translate }}</option>
                                <option ng-repeat="macchina in Macchine" value="{{macchina.id}}" style="text-transform: uppercase;">
                                    {{macchina.nome}}
                                </option>
                            </select>
                            <button class="btn btn-xs pull-right" style="margin-left:15px;" ng-click="bool=false"> <img src="/images/menu1.png" width="12" height="12" alt="submit" /></button>
                            <button class="btn btn-xs pull-right" style="margin-left:15px;" ng-click="bool=true"> <img src="/images/menu.png" width="12" height="12" alt="submit" /></button>
                        </div>
                    </div>
                </div>

               

                <div class="row">
                    <div class="panel panel-default">

                        <table class="table" id="c" dt-options="dtOptions" dt-columns="dtColumns" dt-instance="dtInstance" ng-show="bool===false">
                            <thead>
                                <tr style="font-size:medium">
                                    <!-- <th>Id</th>-->
                                    <th></th>
                                    <th>{{ 'runtime_allsfo_name' | translate }} {{ 'runtime_allsfo_machine' | translate }} </th>
                                    <th>{{ 'runtime_allsfo_odp' | translate }}</th>
                                    <th>{{ 'production_Line_Name' | translate }}</th>
                                    <th>{{ 'production_Lenght_Piece' | translate }}</th>
                                    <th>{{ 'runtime_allsfo_pieces' | translate }}</th>
                                    <th>{{ 'runtime_allsfo_creation_date' | translate }}</th>
                                    <th>{{ 'runtime_allsfo_start_date' | translate }}</th>
                                    <!--<th>{{ 'runtime_allsfo_setup' | translate }}</th>
                                     <th>{{ 'runtime_allsfo_lav' | translate }}</th>-->
                                    
                                    <th>{{ 'runtime_allsfo_progress' | translate }}</th>
                                    <th>{{ 'runtime_allsfo_OEE' | translate }}</th>
                                    <th>{{ 'runtime_allsfo_state' | translate }}</th>
                                </tr>
                            </thead>
                            <tbody style="font-size:20px;">
                                <tr id="{{ item.id }}" ng-repeat="item in items track by item.id" style="color:#242121; border: 1px solid lightgray" ng-class="{'batchAlarm' : item.stato === 'inLavorazioneInEmergenza',
                                                'titleGrayAndColor' : item.stato === 'inAttesa', 'titleOrang' : item.stato === 'inLavorazioneInPausa',
                                                'titleGreen' : item.stato === 'inLavorazione'}" ng-click="linkToBatch(item.id)">
                                    <td><img src="images\machines\{{item.fasi[0].macchine[0].macchina.tipologia.item.codice}}.gif" width="70" height="70" /></td>
                                    <td>{{item.fasi[0].macchine[0].macchina.nome}}</td>
                                    <td>{{ item.odP }}</td>
                                    <td>{{item.queueId.item.nome}}</td>
                                    <td>{{ item.lunghezza}}</td>
                                    <td>{{ item.pezziDaProdurre}}</td>
                                    <td>{{ item.userLockedDate | date: 'dd/MM/yyyy hh:mm:ss'}}</td>
                                    <td>{{ item.inizio | date: 'dd/MM/yyyy hh:mm:ss'  }}</td>




                                    <!--<td style="font-size: 20px;">
        <span ng-switch="" on="item.FaseSet" style="font-size:20px">
            <span ng-switch-when="inLavorazione" class="fa fa-play" aria-hidden="true" style="color:black"></span>
            <span ng-switch-when="inLavorazioneInPausa" class="fa fa-pause" aria-hidden="true" style="color:black"></span>
            <span ng-switch-when="terminato" class="fa fa-check" aria-hidden="true" style="color:black"></span>
            <span ng-switch-when="abortito" class="fa fa-stop" aria-hidden="true"></span>
            <span ng-switch-when="inAttesa" class="fa fa-clock-o" aria-hidden="true"></span>
            <span ng-switch-when="inPausa" class="fa fa-check" aria-hidden="true" style="color:black"></span>
        </span>
    </td>

    <td style="font-size: 20px;">
        <span ng-switch="" on="item.FaseLav" style="font-size:20px">
            <span ng-switch-when="inLavorazione" class="fa fa-play" aria-hidden="true" style="color:black"></span>
            <span ng-switch-when="inLavorazioneInPausa" class="fa fa-pause" aria-hidden="true" style="color:black"></span>
            <span ng-switch-when="terminato" class="fa fa-check" aria-hidden="true" style="color:black"></span>
            <span ng-switch-when="abortito" class="fa fa-stop" aria-hidden="true"></span>
            <span ng-switch-when="inAttesa" class="fa fa-clock-o" aria-hidden="true"></span>
            <span ng-switch-when="inPausa" class="fa fa-pause" aria-hidden="true" style="color:black"></span>
            glyphicon glyphicon-flag
        </span>
    </td>-->
                                    <td>
                                        <span class="badge " style="font-size:24px">{{ item.pezziProdotti }}</span>
                                        <span class="badge " style="font-size:20px">{{ item.percCompletamento }} %</span>
                                        <div class="progress" style="margin-top:2px;">
                                            <div ng-class="{'progress-bar':true ,'progress-bar-success': item.stato !== 'inLavorazioneInEmergenza',  'progress-bar-danger': item.stato === 'inLavorazioneInEmergenza'}" role="progressbar" aria-valuenow="{{ item.percCompletamento }}" aria-valuemin="0" aria-valuemax="100" ng-style="{width: item.percCompletamento  + '%'}"></div>
                                        </div>

                                    </td>
                                    <td style="font-size: 24px;">
                                        {{ item.oee }} %
                                        <span style="font-size: 24px;" ng-class="{'fa fa-long-arrow-down red': item.oeeAndamento === 'inDiscesa',  'fa fa-long-arrow-up green': item.oeeAndamento === 'inSalita',  'fa fa-arrows-h ': item.oeeAndamento === 'stabile' }" title="{{ item.stato }}"></span>
                                    </td>
                                    <td><span style="font-size: 20px;" ng-class="{'glyphicon glyphicon-exclamation-sign red': item.stato === 'inLavorazioneInEmergenza',  'glyphicon glyphicon-ok green': item.stato === 'inLavorazione',  'glyphicon glyphicon-pause orange': item.stato === 'inLavorazioneInPausa' , 'glyphicon glyphicon-flag': item.stato === 'inAttesa' }" title="{{ item.stato }}"></span>   </td>
                                </tr>
                                </>

                            </tbody>
                        </table>

                    </div><!-- col-sm-7 -->

                </div><!-- panel -->
                <div class="row">
                    <div class="col-sm-6 col-md-6" ng-repeat="item in items track by item.id" ng-show="bool===true">

                        <!--<a href="dettaglio-sfo.html#?idBatch={{item.id}}&idMacchina={{idMacchina}}">-->
                        <a href="sfofasi.html#?idBatch={{item.id}}">

                            <div class="panel panel-default" style="border:1px solid #000;min-height:277px;">
                                <div class="panel-body">


                                    <div class="row">

                                        <!--ng-class="{'batchAlarm' : item.stato === 'inLavorazioneInEmergenza', 'titleGray' : item.stato != 'inLavorazioneInEmergenza'}">-->

                                        <div class="col-xs-9" style="color:#242121; border: 1px solid lightgray"
                                             ng-class="{'batchAlarm' : item.stato === 'inLavorazioneInEmergenza',
                                                'titleGrayAndColor' : item.stato === 'inAttesa', 'titleOrang' : item.stato === 'inLavorazioneInPausa',
                                                'titleGreen' : item.stato === 'inLavorazione'}">

                                            <div class="col-xs-10">
                                                <h1 style="text-decoration:unset ;font-size:280%;">Odp:{{item.odP}} ({{item.odPParziale}}), {{item.Materiale.Nome}}</h1>
                                            </div>
                                            <div class="col-xs-10">
                                                <h3>{{ 'runtime_allsfo_planned_pcs' | translate }} {{item.pezziDaProdurre}} &nbsp;&nbsp;&nbsp; {{ 'production_Lenght_Piece' | translate }}: {{item.lunghezza}} &nbsp;&nbsp; ({{item.percCompletamento}} %)</h3>
                                            </div>
                                            <img src="images\{{ item.stato}}.png" style="margin:15px" />
                                        </div>

                                        <div class="col-xs-3" style="border: 1px solid lightgray">
                                            <div class="col-xs-12">
                                                <h3 style="text-decoration: unset;font-size:450%;"> {{item.oee}} %</h3>
                                            </div>
                                            <div class="col-xs-12" style="font-size:20px;">
                                                <h4> {{ 'runtime_allsfo_OEE' | translate }} </h4>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="row" style="border: 1px solid lightgray">
                                        <div class="col-xs-4">
                                            <h4><strong> {{ 'runtime_allsfo_machine_name' | translate }} {{item.fasi[0].macchine[0].macchina.nome}}</strong></h4>
                                        </div>

                                        <div class="col-xs-4">
                                            <h4>{{ 'runtime_allsfo_launch_date' | translate }} <br /> {{item.userLockedDate | date: 'dd/MM/yyyy HH:mm:ss'}}</h4>
                                        </div>

                                        <div class="col-xs-4">
                                            <h4>{{ 'runtime_allsfo_start_date' | translate }} <br /> {{item.inizio | date: 'dd/MM/yyyy HH:mm:ss'}}</h4>
                                        </div>


                                    </div>





                                    <!--<div class="row" style="margin-top:10px;">
                            <div class="col-md-4" style="padding-left:0px;">
                                <div class="panel panel-default" style="color:#fff;">
                                    <div class="panel-body"
                                         ng-class="{'batchAlarm' : item.stato === 'inLavorazioneInEmergenza',
                                                'titleGrayAndColor' : item.stato === 'inAttesa' || item.stato === 'inLavorazioneInPausa',
                                                'titleGreen' : item.stato === 'inLavorazione'}"
                                         style="padding:10px;">
                                        <span>{{item.stato}}</span>
                                    </div>
                                </div>
                            </div>
                        </div>-->
                                    <!--<div class="row"  ng-repeat="x in  item.fasi">
                            <div style="margin-top:2px;border: 1px solid lightgray" ng-hide="x.stato!='inLavorazione'">
                                <div class="col-xs-4">
                                    <h4>Fase: {{x.distintaBaseFase.nome}} [{{x.stato}}]</h4>
                                </div>
                                <div class="col-xs-3">
                                    <h4>Pezzi prod.: {{x.pezziProdotti}}</h4>
                                </div>
                                <div class="col-xs-5">
                                    <h4>avviata il {{x.userLockedDate | date: 'dd/MM/yyyy HH:mm:ss'}}</h4>
                                </div>
                            </div>
                        </div>-->





                                    <div class="row" style="margin-top:10px;">
                                        <div class="col-xs-12" style="padding:0;">
                                            <div class="progress">
                                                <!--<span style="border: 1px solid lightgray" class="badge ">{{ item.percCompletamento }} %</span>-->
                                                <!--<div id="proBar" class="progress"><div ng-class="{'progress-bar':true ,'progress-bar-success': item.stato !== 'inLavorazioneInEmergenza',  'progress-bar-danger': item.stato === 'inLavorazioneInEmergenza'}" role="progressbar" aria-valuenow="66" aria-valuemin="0" aria-valuemax="100" ng-style="{width: item.percCompletamento  + '%'}"></div></div>-->
                                                <!--<div class="progress"><div ng-class="progress-bar-success" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 77%"></div></div>-->

                                                <span style="border: 1px solid lightgray" class="badge ">{{ item.percCompletamento }} %</span>
                                                <!--<div id="proBar" class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" ng-style="{width: item.percCompletamento  + '%'}"></div>-->
                                                <div id="proBar" ng-class="{'progress-bar':true ,'progress-bar-success': item.stato !== 'inLavorazioneInEmergenza',  'progress-bar-danger': item.stato === 'inLavorazioneInEmergenza'}" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" ng-style="{width: item.percCompletamento  + '%'}"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                        </a>
                    </div>
                </div>
            </div>

        </div>
    </div><!-- mainpanel -->



    <script src="js/loadAllScript.js"></script>
    <script src="js/moment.min.js"></script>
    <script src="js/_bootstrap-datepicker.js"></script>
    <script src="js/_bootstrap-datepicker.it.min.js"></script>
    <script src="js/_bootstrap-datetimepicker.js"></script>
    <script src="js/_bootstrap-datetimepicker.it.js"></script>
    <script src="app/controllers/produzione/allsfo.controller.js"></script>
    <script src="app/controllers/accessi/accessi.controller.js"></script>

</body>
</html>
