﻿<!DOCTYPE html>
<html lang="it">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="images/favicon.png" type="image/png">
    <title>Anagrafica macchine</title>

    <link href="css/style.default.css" rel="stylesheet">
    <link href="css/jquery.datatables.css" rel="stylesheet">
    <link rel="stylesheet" href="css/jquery.tagsinput.css" />
    <link rel="stylesheet" href="css/colorpicker.css" />
    <link rel="stylesheet" href="css/dropzone.css"/>
    <!--NOCDN<link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/select2/3.4.5/select2.css">
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.8.5/css/selectize.default.css">-->
    <link rel="stylesheet" href="css/select2.css">
    <link rel="stylesheet" href="css/selectize.default.css">
    <link rel="stylesheet" href="css/select.css" />
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
    <script src="js/respond.min.js"></script>
    <![endif]-->

</head>
<body ng-app="AppMacchineRuntime">
    <!-- Preloader -->
    <div id="preloader">
        <div id="status"><i class="fa fa-spinner fa-spin"></i></div>
    </div>
    <div class="mainpanel">
        <!-- toppanel -->
        <div class="row headerbar">
            <div class="pageheader col-md-6">
                <h2><i class="fa fa-list-alt"></i> Dettaglio <span>ANDON</span></h2>
            </div>
            <div class="col-md-6" ng-controller="AccessiCtrl" ng-include="'top-side.html'">

            </div>
        </div>

        <!-- toppanel -->

        <div ng-controller="AndonDetailCtrl">
            <div class="contentpanel titleAndon" ng-class="{'batchAlarm' : batch.stato === 'inLavorazioneInEmergenza'}">
                <div class="row ">
                    <div class="col-md-4" style="padding:0;">
                        <h1>PIANIF.</h1>
                        <h1>{{batch.pezziDaProdurre}}</h1>
                    </div>
                    <div class="col-md-4" style="padding:0;">
                        <h1>SIT. ATT.</h1>
                        <h1>{{batch.pezziProdotti}}</h1>
                    </div>
                    <div class="col-md-4" style="padding:0;">
                        <h1>SCARTATI</h1>
                        <h1>{{batch.pezziScartati}}</h1>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4" style="padding:0;">
                        <h1>PAUSA</h1>
                        <h1>12:20</h1>
                    </div>
                    <div class="col-md-4" style="padding:0;">
                        <h1>TAKT</h1>
                        <h1>{{taktTotale}}</h1>
                    </div>
                    <div class="col-md-4" style="padding:0;">
                        <h1>PER. TOT.</h1>
                        <h1>{{perditaTotale}}</h1>
                    </div>
                </div>
                <div class="row">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <!--<button class="btn pull-right {{!stateBatchEmergenza ? 'btn-default':' btn-danger'}}" style="margin-left:15px;" ng-click="changeStateBatch('5');" ng-disabled="!stateBatchEmergenza"><span class="fa fa-warning" style="margin-right:15px;"></span>EMERGENZA</button>
                            <button class="btn pull-right {{!stateBatchPausaS ? 'btn-default':' btn-primary'}}" style="margin-left:15px;" ng-click="changeStateBatch('4');" ng-disabled="!stateBatchPausaS"><span class="fa fa-pause" style="margin-right:15px;"></span>PAUSA S.</button>
                            <button class="btn pull-right {{!stateBatchStart ? 'btn-default':' btn-primary'}}" style="margin-left:15px;" ng-click="changeStateBatch('2');" ng-disabled="!stateBatchStart"><span class="fa fa-play" style="margin-right:15px;"></span>START</button>

                            <a href="dettaglio-sfo.html#?idBatch={{batch.id}}&idMacchina={{idMacchina}}" class="btn btn-default pull-left"><span class="fa fa-arrow-left" style="margin-right:15px;"></span>INDIETRO</a>
                            <button class="btn btn-default pull-left" style="margin-left:15px;" ng-click="addPieces();"><span class="fa fa-plus" style="margin-right:15px;"></span>Aggiungi</button>
                            <button class="btn btn-success pull-left" style="margin-left:15px;" ng-disabled="!btnStateConcludi" ng-click="changeState('7');"><span class="fa fa-check" style="margin-right:15px;"></span>Concludi</button>
                            <button class="btn btn-danger pull-left" style="margin-left:15px;" ng-disabled="!btnStateAbort" ng-click="changeState('8');"><span class="fa fa-stop" style="margin-right:15px;"></span>Abortisci</button>
                            <button class="btn btn-default pull-left" style="margin-left:15px;" ng-disabled="!btnStatePause" ng-click="changeState('3');"><span class="fa fa-pause" style="margin-right:15px;"></span>Sospendi</button>
                            <button class="btn btn-default pull-left" style="margin-left:15px;" ng-disabled="!btnStateStart" ng-click="changeState('2');"><span class="fa fa-play"></span> Start</button>-->
                            <a href="dettaglio-sfo.html#?idBatch={{batch.id}}&idMacchina={{idMacchina}}" class="btn btn-default pull-left" style="margin-left: 15px; line-height: 50px; font-size: 20px;"><span class="fa fa-arrow-left" style="margin-right:15px;"></span>INDIETRO</a>
                            <button class="btn btn-default pull-left" style="margin-left: 15px; line-height: 50px; font-size: 20px;" ng-click="addPieces();"><span class="fa fa-plus" style="margin-right:15px;"></span>AGGIUNGI</button>
                            <button class="btn pull-right {{!stateBatchEmergenza ? 'btn-default':' btn-danger'}}" style="margin-left:15px;line-height:50px;font-size:20px;" ng-click="changeStateBatch('5');" ng-disabled="!stateBatchEmergenza"><span class="fa fa-warning" style="margin-right:15px;"></span>EMERGENZA</button>
                            <button class="btn pull-right {{!stateBatchPausaS ? 'btn-default':' btn-primary'}}" style="margin-left: 15px; line-height: 50px; font-size: 20px;" ng-click="changeStateBatch('4');" ng-disabled="!stateBatchPausaS"><span class="fa fa-pause" style="margin-right:15px;"></span>PAUSA S.</button>
                            <button class="btn pull-right {{!stateBatchStart ? 'btn-default':' btn-primary'}}" style="margin-left: 15px; line-height: 50px; font-size: 20px;" ng-click="changeStateBatch('2');" ng-disabled="!stateBatchStart"><span class="fa fa-play" style="margin-right:15px;"></span>START</button>
                            <button class="btn btn-darkblue pull-right {{!stateBatchStopProduzione ? 'btn-default':' btn-darkblue'}}" style="line-height: 50px; font-size: 20px;" ng-click="changeStateBatch('7');"><span class="fa fa-stop" style="margin-right:15px;"></span>STOP PRODUZIONE</button>
                            
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div><!-- mainpanel -->



    <script src="js/loadAllScript.js"></script>
    <script src="app/controllers/produzione/dettaglio-andon.controller.js"></script>
    <script src="app/controllers/accessi/accessi.controller.js"></script>
    
</body>
</html>



