﻿<!DOCTYPE html>
<html lang="it">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="images/favicon.png" type="image/png">
    <title>Dettaglio Sfo</title>

    <link href="css/style.default.css" rel="stylesheet">
    <link href="css/jquery.datatables.css" rel="stylesheet">
    <link rel="stylesheet" href="css/jquery.tagsinput.css" />
    <link rel="stylesheet" href="css/colorpicker.css" />
    <link rel="stylesheet" href="css/dropzone.css"/>
                    <!--NOCDN<link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/select2/3.4.5/select2.css">
                    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.8.5/css/selectize.default.css">-->
    <link rel="stylesheet" href="css/select2.css">
    <link rel="stylesheet" href="css/selectize.default.css">
    <link rel="stylesheet" href="css/select.css" />
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
    <script src="js/respond.min.js"></script>
    <![endif]-->

</head>
<body ng-app="AppMacchineRuntime">
    <!-- Preloader -->
    <div id="preloader">
        <div id="status"><i class="fa fa-spinner fa-spin"></i></div>
    </div>
    <div class="mainpanel">
        <!-- toppanel -->
        <div class="row headerbar">
            <div class="pageheader col-md-6">
                <h2><i class="fa fa-list-alt"></i> Shop Floor Order <span>Odp Macchina 1</span></h2>
            </div>
            <div class="col-md-6" ng-controller="AccessiCtrl" ng-include="'top-side.html'">

            </div>
        </div>

        <!-- toppanel -->

        <div ng-controller="SfoDetailCtrl">
            <div class="contentpanel" ng-class="{'batchAlarm' : batch.stato === 'inLavorazioneInEmergenza'}">
                <div class="row">
                    <div class="col-sm-6 col-md-3" ng-repeat="item in items track by item.numeroFase">
                        <div class="panel panel-default" style="border:1px solid #000;min-height:360px;">
                            <div class="panel-body">
                                
                                <a href="{{item.isCiclica ? 'dettaglio-andon.html#?idBatch=' + batch.id + '&numeroFase=' + item.numeroFase + '&idMacchina=' + idMacchina : '#'}}">
                                    <div class="row" ng-class="{'titleGreen': item.stato === 'inLavorazione',  'titleRed': item.stato === 'inLavorazioneInEmergenza', 'titleGray' : item.stato === 'inAttesa', 'titleOrang' : item.stato === 'inLavorazioneInPausa'}" style="color:#242121;">
                                        <!--<div class="row" ng-class="{'titleGreen': item.stato === 'inLavorazione',  'titleRed': item.stato === 'inLavorazioneInEmergenza', 'titleGray' : item.stato === 'inAttesa' || item.stato === 'inLavorazioneInPausa'}" style="color:#242121;">-->
                                            <div class="col-xs-12">
                                                <h3 style="text-decoration: underline;">{{item.distintaBaseFase.nome}}</h3>
                                            </div>
                                            <div class="col-xs-12">
                                                <span>Tempo teorico: 01:45 min</span>
                                            </div>
                                            <div class="col-xs-12">
                                                <span>Codice fase: {{item.numeroFase}}</span>
                                            </div>
                                            <div class="col-xs-12" ng-show="userLocked[item.numeroFase]">
                                                <div>
                                                    <span class="fa fa-2x fa-lock"></span>
                                                </div>
                                            </div>
                                        </div>
                                </a>
                                <div class="row" style="margin-top:10px;" ng-show="stateFinished[item.numeroFase]">
                                    <div class="col-xs-12" style="padding-left:0px;">
                                        <div class="btn btn-default" style="color:green;"><span class="fa fa-check" style="margin-right:15px;color:green;"></span>Concluso</div>
                                    </div>
                                </div>
                                <div class="row" style="margin-top:10px;" ng-show="stateAborted[item.numeroFase]">
                                    <div class="col-xs-12" style="padding-left:0px;">
                                        <div class="btn btn-default" style="color:red;"><span class="fa fa-stop" style="margin-right:15px;color:red;"></span>Abortito</div>
                                    </div>
                                </div>

                                <div class="row" style="margin-top:10px;" ng-show="!stateFinished[item.numeroFase] && !stateAborted[item.numeroFase]">

                                    <div class="col-xs-6" style="padding-left:0px;">
                                        <button style="font-size: 30px;" class="btn btn-default" ng-disabled="!btnStateStart[item.numeroFase]" ng-click="changeState(item, '2');"><span class="fa fa-play"></span> Start</button>
                                    </div>
                                    <div class="col-xs-6" style="padding-left:0px;">
                                        <button style="font-size: 30px;" class="btn btn-success" ng-disabled="!btnStateConcludi[item.numeroFase]" style="color:white;" ng-click="changeState(item, '7');"><span class="fa fa-check" style="color:white;"></span> Concludi</button>
                                    </div>

                                    <div class="col-xs-6" style="padding-left: 0px; margin-top: 25px;">
                                        <button style="font-size: 30px;" class="btn btn-default" ng-disabled="!btnStatePause[item.numeroFase]" ng-click="changeState(item, '3');"><span class="fa fa-pause"></span> Sospendi</button>
                                    </div>
                                    <div class="col-xs-6" style="padding-left:0px;margin-top:25px;">
                                        <button style="font-size: 30px;" class="btn btn-danger" ng-disabled="!btnStateAbort[item.numeroFase]" style="color:white;" ng-click="changeState(item, '8');"><span class="fa fa-stop" style="color:white;"></span> Abortisci</button>
                                    </div>
                                </div>

                                <div class="row" style="background-color:#dadada;color:#242121;margin-top:10px;">
                                    <div class="col-xs-12" ng-show="stateStarted[item.numeroFase]">
                                        <span>Avviato: {{item.inizio | date : 'dd/MM/yyyy HH:mm:ss'}}</span>
                                    </div>
                                    <div class="col-xs-12" ng-show="stateFinished[item.numeroFase]">
                                        <span>Completato: {{item.fine | date : 'dd/MM/yyyy HH:mm:ss'}}</span>
                                    </div>
                                    <div class="col-xs-12" ng-show="stateAborted[item.numeroFase]">
                                        <span>Abortito: {{item.fine | date : 'dd/MM/yyyy HH:mm:ss'}}</span>
                                    </div>
                                </div>
                                <br />
                                <div class="row" ng-show="item.distintaBaseFase.isCiclica">
                                    <div style="float:right;">
                                        <span class="fa fa-3x fa-undo"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <button class="btn pull-right {{!stateBatchEmergenza ? 'btn-default':' btn-danger'}}" style="margin-left:15px;line-height:50px;font-size:20px;" ng-click="changeStateBatch('5');" ng-disabled="!stateBatchEmergenza"><span class="fa fa-warning" style="margin-right:15px;"></span>EMERGENZA</button>
                            <button class="btn pull-right {{!stateBatchPausaS ? 'btn-default':' btn-primary'}}" style="margin-left: 15px; line-height: 50px; font-size: 20px;" ng-click="changeStateBatch('4');" ng-disabled="!stateBatchPausaS"><span class="fa fa-pause" style="margin-right:15px;"></span>PAUSA S.</button>
                            <button class="btn pull-right {{!stateBatchStart ? 'btn-default':' btn-primary'}}" style="margin-left: 15px; line-height: 50px; font-size: 20px;" ng-click="changeStateBatch('2');" ng-disabled="!stateBatchStart"><span class="fa fa-play" style="margin-right:15px;"></span>START</button>
                            <button class="btn btn-darkblue pull-right {{!stateBatchStopProduzione ? 'btn-default':' btn-darkblue'}}" style="line-height: 50px; font-size: 20px;" ng-click="changeStateBatch('7');"><span class="fa fa-stop" style="margin-right:15px;"></span>STOP PRODUZIONE</button>
                            <a href="sfo.html#?idMacchina={{idMacchina}}" class="btn btn-default pull-left" style="line-height: 50px; font-size: 20px;"><span class="fa fa-arrow-left" style="margin-right:15px;"></span>INDIETRO</a>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div><!-- mainpanel -->



<script src="js/loadAllScript.js"></script>
<script src="app/controllers/produzione/dettaglio-sfo.controller.js"></script>
<script src="app/controllers/accessi/accessi.controller.js"></script>
    
</body>
</html>



