﻿<!DOCTYPE html>
<html lang="it">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="images/favicon.png" type="image/png">
    <title>Anagrafica macchine</title>

    <link href="css/style.default.css" rel="stylesheet">
    <link href="css/jquery.datatables.css" rel="stylesheet">
    <link rel="stylesheet" href="css/jquery.tagsinput.css" />
    <link rel="stylesheet" href="css/colorpicker.css" />
    <link rel="stylesheet" href="css/dropzone.css"/>
                        <!--NOCDN<link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/select2/3.4.5/select2.css">
                        <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.8.5/css/selectize.default.css">-->
    <link rel="stylesheet" href="css/select2.css">
    <link rel="stylesheet" href="css/selectize.default.css">
    <link rel="stylesheet" href="css/select.css" />
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
    <script src="js/respond.min.js"></script>
    <![endif]-->

</head>
<body ng-app="AppMacchineRuntime">
    <!-- Preloader -->
    <div id="preloader">
        <div id="status"><i class="fa fa-spinner fa-spin"></i></div>
    </div>
    <div class="mainpanel">
        <!-- toppanel -->
        <div class="row headerbar">
            <div class="pageheader col-md-6">
                <h2><i class="fa fa-list-alt"></i> Elenco <span>Macchine</span></h2>
            </div>
            <div class="col-md-6" ng-controller="AccessiCtrl" ng-include="'top-side.html'">

            </div>
        </div>
       
        <!-- toppanel -->

        <div ng-controller="AnagraficaMacchineCtrl">
            
            <div class="contentpanel">
                <div class="row">
                    <div class="col-md-3" style="padding-left:0px;" ng-repeat="item in items track by item.id">
                        <a href="sfo.html#?idMacchina={{item.id}}" style="cursor:pointer;">
                            <div class="panel panel-success panel-stat">
                                <div class="panel-heading" style="min-height:158px;">
                                    <div class="stat">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <h3>{{item.nome}}</h3>
                                            </div>
                                        </div><!-- row -->
                                    </div><!-- stat -->
                                </div><!-- panel-heading -->
                            </div><!-- panel -->
                        </a>
                    </div><!-- col-sm-6 -->
                </div>

                <div class="row">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <button class="btn btn-maroon pull-right"><span class="fa fa-copy" style="margin-right:15px;"></span>SCAN</button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div><!-- mainpanel -->



<script src="js/loadAllScript.js"></script>
<script src="app/controllers/produzione/macchine.controller.js"></script>
<script src="app/controllers/accessi/accessi.controller.js"></script>
    
</body>
</html>



