﻿<!DOCTYPE html>
<html lang="it">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="images/favicon.png" type="image/png">
    <title>Anagrafica macchine</title>

    <link href="css/style.default.css" rel="stylesheet">
    <link href="css/jquery.datatables.css" rel="stylesheet">
    <link rel="stylesheet" href="css/jquery.tagsinput.css" />
    <link rel="stylesheet" href="css/colorpicker.css" />
    <link rel="stylesheet" href="css/dropzone.css"/>
                        <!--NOCDN<link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/select2/3.4.5/select2.css">
                        <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.8.5/css/selectize.default.css">-->
    <link rel="stylesheet" href="css/select2.css">
    <link rel="stylesheet" href="css/selectize.default.css">
    <link rel="stylesheet" href="css/select.css" />
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
    <script src="js/respond.min.js"></script>
    <![endif]-->

</head>
<body ng-app="AppMacchineRuntime">
    <!-- Preloader -->
    <div id="preloader">
        <div id="status"><i class="fa fa-spinner fa-spin"></i></div>
    </div>
    <div class="mainpanel">
        <!-- toppanel -->
        <div class="row headerbar">
            <div class="pageheader col-md-6">
                <h2><i class="fa fa-list-alt"></i> Shop Floor Order <span>Indice</span></h2>
            </div>
            <div class="col-md-6" ng-controller="AccessiCtrl" ng-include="'top-side.html'">

            </div>
        </div>

        <!-- toppanel -->

        <div ng-controller="SfoCtrl">
            <div class="contentpanel">
                <div class="row">
                    <div class="col-sm-6 col-md-6" ng-repeat="item in items track by item.id">
                        <a href="dettaglio-sfo.html#?idBatch={{item.id}}&idMacchina={{idMacchina}}">
                            <div class="panel panel-default" style="border:1px solid #000;min-height:277px;">
                                <div class="panel-body">
                                    <div class="row" style="color:#242121;" ng-class="{'batchAlarm' : item.stato === 'inLavorazioneInEmergenza', 'titleGray' : item.stato != 'inLavorazioneInEmergenza'}">
                                        <div class="col-xs-12">
                                            <h3 style="text-decoration: underline;font-size:300%;">{{item.odP}}, {{item.materiale.codice}}</h3>
                                        </div>
                                        <div class="col-xs-12">
                                            <span>Commessa: {{item.commessa}}</span>
                                        </div>
                                        <div class="col-xs-12" style="font-size:20px;">
                                            <span>Pezzi pianificati: {{item.pezziDaProdurre}} </span>
                                        </div>
                                    </div>

                                    <div class="row" style="margin-top:10px;">
                                        <div class="col-md-4" style="padding-left:0px;">
                                            <div class="panel panel-default" style="color:#fff;">
                                                <div class="panel-body"
                                                     ng-class="{'batchAlarm' : item.stato === 'inLavorazioneInEmergenza',
                                                                'titleGrayAndColor' : item.stato === 'inAttesa' || item.stato === 'inLavorazioneInPausa',
                                                                'titleGreen' : item.stato === 'inLavorazione'}"
                                                     style="padding:10px;">
                                                    <span>{{item.stato}}</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <!--<div class="row" style="background-color:#dadada;color:#242121;margin-top:10px;">
                    <div class="col-xs-12">
                        <span>Avviato: {{item.inizio | date : 'dd/MM/yyyy'}}</span>
                    </div>
                    <div class="col-xs-12">
                        <span>Pezzi prodotti: {{item.pezziScartati}}</span>
                    </div>
                    <div class="col-xs-12">
                        <span>Pezzi scartati: {{item.pezziScartati}}</span>
                    </div>
                </div>-->
                                    <div class="row" style="margin-top:10px;">
                                        <div class="col-xs-12" style="padding:0;">
                                            <div class="progress progress-striped">
                                                <span class="badge ">{{ item.percCompletamento }} %</span>  <div class="progress"><div ng-class="{'progress-bar':true ,'progress-bar-success': item.stato !== 'inLavorazioneInEmergenza',  'progress-bar-danger': item.stato === 'inLavorazioneInEmergenza'}" role="progressbar" aria-valuenow="{{ item.percCompletamento }}" aria-valuemin="0" aria-valuemax="100" ng-style="{width: item.percCompletamento  + '%'}"></div></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="row">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <a href="elenco-macchine.html" class="btn btn-default pull-left"><span class="fa fa-arrow-left" style="margin-right:15px;"></span>INDIETRO</a>
                            <button class="btn btn-default pull-left" style="margin-left:15px;" ng-click="filterState('-1');" ><span class="fa fa-tasks" style="margin-right:15px;"></span>TUTTI</button>
                            <button class="btn btn-default pull-left" style="margin-left:15px;" ng-click="filterState('1');"><span class="fa fa-list-ul" style="margin-right:15px;"></span>IN CODA</button>
                            <button class="btn btn-default pull-left" style="margin-left:15px;" ng-click="filterState('2');"><span class="fa fa-play" style="margin-right:15px;"></span>IN PRODUZIONE</button>
                            <button class="btn btn-default pull-left" style="margin-left:15px;" ng-click="filterState('4');"><span class="fa fa-pause" style="margin-right:15px;"></span>IN PAUSA S.</button>
                            <button class="btn btn-default pull-left" style="margin-left:15px;" ng-click="filterState('5');"><span class="fa fa-warning" style="margin-right:15px;"></span>IN EMERGENZA</button>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div><!-- mainpanel -->



<script src="js/loadAllScript.js"></script>
<script src="app/controllers/produzione/sfo.controller.js"></script>
<script src="app/controllers/accessi/accessi.controller.js"></script>
    
</body>
</html>



