﻿<!DOCTYPE html>
<html lang="it">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="images/favicon.png" type="image/png">
    <title>Anagrafica macchine</title>

    <link href="css/style.default.css" rel="stylesheet">
    <link href="css/jquery.datatables.css" rel="stylesheet">
    <link rel="stylesheet" href="css/jquery.tagsinput.css" />
    <link rel="stylesheet" href="css/colorpicker.css" />
    <link rel="stylesheet" type="text/css" href="css/tree-control.css">
    <link rel="stylesheet" href="css/dropzone.css" />
    <link rel="stylesheet" href="css/select2.css">
    <link rel="stylesheet" href="css/selectize.default.css">
    <link rel="stylesheet" href="css/select.css" />
    <link rel="stylesheet" href="css/bootstrap337.css" />
    <link rel="stylesheet" href="css/bootstrap-sidebar.css" />
    <link rel="stylesheet" href="css/_bootstrap-datepicker.css">
    <link rel="stylesheet" href="css/_bootstrap-datetimepicker.css">
    <link rel="stylesheet" href="css/prettyPhoto.css" />
    <link rel="stylesheet" href="css/jquery.fancybox.css" />
    <link rel="stylesheet" href="css/angular-growl.css" />
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
    <script src="js/respond.min.js"></script>
    <![endif]-->

</head>
<body ng-app="AppMacchineRuntime">
    <!-- Preloader -->
    <div id="preloader">
        <div id="status"><i class="fa fa-spinner fa-spin"></i></div>
    </div>


    <div class="mainpanel-sf" ng-controller="SfoFasiCtrl">

        <div ng-hide="!isLoaderActiveWrite" class="overlay-loader-write"></div>
        <div ng-hide="!isLoaderActiveWrite" class="overlay-gray"></div>

        <div ng-hide="!isLoaderActiveRead" class="overlay-loader-read"></div>
        <div ng-hide="!isLoaderActiveRead" class="overlay-gray"></div>

        <!-- toppanel -->
        <div id="header" class="row headerbar" ng-class="{'batchAlarm' : currentItem.stato === 'inLavorazioneInEmergenza'}">
            <!--, navbar-fixed-top-->
            <div class="pageheader col-md-10">
                <h2>
                    <i class="fa fa-list-alt"></i> {{batch.commessa}}
                    <!--<span ng-class="{'s1alt' : currentItem.stato === 'inLavorazioneInEmergenza', 's1' : currentItem.stato !== 'inLavorazioneInEmergenza'}">Shop Floor Order</span>-->
                    <!--<span class="s2">{{batch.odP}}, {{batch.materiale.codice}}</span>-->
                    <!--<span class="s3"> avviato il: {{batch.inizio | date: 'dd/MM/yyyy HH:mm:ss'}}</span>-->
                    <span ng-class="{'s2alt' : currentItem.stato === 'inLavorazioneInEmergenza', 's2' : currentItem.stato !== 'inLavorazioneInEmergenza'}">{{batch.odP}}, {{batch.materiale.codice}}</span>
                    <span ng-class="{'s3alt' : currentItem.stato === 'inLavorazioneInEmergenza', 's3' : currentItem.stato !== 'inLavorazioneInEmergenza'}"> avviato il: {{batch.inizio | date: 'dd/MM/yyyy HH:mm'}}</span>
                </h2>
            </div>
            <div class="col-md-2" ng-controller="AccessiCtrl" ng-include="'top-side.html'">

            </div>


        </div>



        <!--https://getbootstrap.com/docs/3.3/javascript/#fat-->
        <!--https://bootstrapious.com/p/bootstrap-sidebar-->
        <!--https://bootsnipp.com/snippets/Pa9xl-->


        <div class="row, contentpanel" id="content">

            <!--==============================================================================================================================-->
            <div class="form-group-alt col-md-7" id="sidebar">

                <table style="width:100%">
                    <!--https://github.com/wix/angular-tree-control-->
                    <tr>
                        <td id="trId">
                            <treecontrol class="tree-boot"
                                         tree-model="dataForTheTree"
                                         options="treeOptions"
                                         on-selection="showSelected(node)"
                                         ng-dblclick="nodeDoubleClick()"
                                         expanded-nodes="defaultExpanded"
                                         selected-node="selectedNode">

                                <span ng-switch="" on="node.tipo">
                                    <span ng-switch-when="-1" class="fa fa-gear" aria-hidden="true"></span>
                                    <span ng-switch-when="1" class="fa fa-gears" aria-hidden="true"></span>
                                    <span ng-switch-when="0" class="fa fa-tag" aria-hidden="true"></span>
                                </span>

                                {{node.nome}}

                                <span ng-switch="" on="node.statoOperativo" style="float:right;font-size:50px">
                                    <span ng-switch-when="inLavorazione" class="fa fa-play" aria-hidden="true" style="color:green"></span>
                                    <span ng-switch-when="inLavorazioneInPausa" class="fa fa-pause" aria-hidden="true" style="color:sandybrown"></span>
                                    <span ng-switch-when="terminato" class="fa fa-check" aria-hidden="true" style="color:white"></span>
                                    <span ng-switch-when="abortito" class="fa fa-stop" aria-hidden="true"></span>
                                    <!--<span ng-switch-when="inAttesa" class=" fa fa-mail-forward" aria-hidden="true"></span>-->
                                </span>

                            </treecontrol>

                        </td>
                        <!--<td style="vertical-align:top">

                        <button ng-disabled="!sidebar2Show" type="button" id="sidebarCollapse" class="btn btn-info" style="font-size:35px;padding-left:10px;margin-right:-20px;margin-left:10px">
                            <i class="glyphicon glyphicon-align-left"></i>
                        </button>
                    </td>-->
                    </tr>
                </table>

            </div>


            <!--==============================================================================================================================-->
            <!--isEnabledDettagliFase-->
            <div class="form-group-alt2 col-md-5 " ng-show="isEnabledDettagliFase">

                <div id="docHeader">

                    <div class="row" ng-show="isEnabledDettagliFase" ng-model="pippo" style="border-left: solid 1px #3c3b3b;">
                        <div style="background-color:white;padding-left:20px;padding-top: 5px;padding-bottom: 5px;">
                            <button ng-hide="selectedBatchPhase.stato == 'terminato'" style="font-size: 35px;" class="btn btn-default" ng-disabled="!btnStateStart" ng-click="changeStateToStart('2');"><span class="fa fa-play"></span> Start</button>
                            <button ng-hide="selectedBatchPhase.stato != 'terminato'" style="font-size: 35px;" class="btn btn-default" ng-disabled="!btnStateStart" data-toggle="modal" data-target="#modalRestartFase"><span class="fa fa-play"></span> Start</button>

                            <button style="font-size: 35px;margin-left:10px;" class="btn btn-warning" ng-disabled="!btnStatePause" ng-click="changeState('3');"><span class="fa fa-pause"></span> Sospendi</button>
                            <button style="font-size: 35px;margin-left:10px; color:white" class="btn btn-success" ng-disabled="!btnStateConcludi" data-toggle="modal" data-target="#modalClosePhase"><span class="fa fa-check" style="color:white;"></span> Concludi</button>
                            <!--<button style="font-size: 35px;margin-left:10px;" class="btn btn-danger" ng-disabled="!btnStateAbort" style="color:white;" ng-click="changeState('8');"><span class="fa fa-stop" style="color:white;"></span> Abortisci</button>-->
                            <h4><span style="font-weight:bold; ">({{selectedBatchPhase.numeroFase}}) {{selectedPhase.nome}} </span></h4>
                            <h4><span style="font-weight:bold;">{{selectedBatchPhase.distintaBaseFase.campo3}}</span></h4>
                            <h4><span style="font-weight:bold;">Tempo teorico fase: {{tempiTeoriciDistintaBaseFase}}, Stato: {{selectedBatchPhase.stato}}</span> </h4>

                            <!--PEZZI VERSATI  ===================================================== -->
                            <!--<label class="control-label" style="font-size: 20px; font-weight:bold; margin-right:15px; margin-bottom:0px">Quantità Versata <br /> <span style="font-size: 20px;font-weight:bold; margin:0px"> {{selectedBatchPhase.pezziProdotti}} </span></label>-->
                            <div ng-show="selectedBatchPhase.distintaBaseFase.abilitaVersamentiManuali">
                                <label class="control-label" style="font-size: 20px; font-weight:bold; margin-right:15px; margin-bottom:0px">Quantità da Versare  <br />{{selectedBatchPhase.distintaBaseFase.campo4}}</label>
                                <label class="control-label" style="font-size: 20px; font-weight:bold; margin-right:15px; margin-bottom:0px;border-left: 2px solid #000;padding-left: 10px;">Quantità Versata <br />{{selectedBatchPhase.distintaBaseFase.campo1}}</label>
                                <button ng-disabled="selectedBatchPhase.stato != 'inLavorazione'" id="bminus" class="btn btn-default" style="font-size: 30px; width:auto" ng-click="numpadMinus();"><span class="fa fa-minus-square" style="margin-left:15px;margin-right:15px;"></span></button>
                                <input ng-disabled="true" class="btn btn-default" id="Text1" type="text" style="font-size: 40px; width:120px; " ng-model="selectedBatchPhase.pezziProdotti" />
                                <button ng-disabled="selectedBatchPhase.stato != 'inLavorazione'" id="bbplus" class="btn btn-default" style="font-size: 30px; width:auto" ng-click="numpadPlus();"><span class="fa fa-plus-square" style="margin-left:15px;margin-right:15px;"></span></button>
                            </div>
                            <!--PEZZI VERSATI  =============================fa-plus-square======================== -->

                        </div>

                        <div style="border-top:2px solid gray"></div>
                        <div class="column" style="background-color:white;display:grid;padding-left:20px;">
                            <h4>
                                <span ng-hide="selectedBatchPhase.stato == 'inAttesa'" style="font-weight:bold; margin:0px;padding:0px;color:gray">Avviata il: {{selectedBatchPhase.inizio | date: 'dd/MM/yyyy HH:mm:ss'}}</span>
                                <span ng-hide="selectedBatchPhase.stato != 'terminato'" style="font-weight:bold; margin:0px;padding:0px;color:gray"> &nbsp; &nbsp; &nbsp; Conclusa il: {{selectedBatchPhase.fine | date: 'dd/MM/yyyy HH:mm:ss'}}</span>
                            </h4>
                            <h4 ng-hide="(!selectedBatchPhase.isCiclica) || selectedBatchPhase.stato == 'inAttesa'">
                                <span style="font-weight:bold; margin:0px;padding:0px;color:gray">Numero pezzi prodotti: {{selectedBatchPhase.pezziProdotti}} &nbsp; &nbsp; di: {{selectedBatchPhase.pezziPianificati}} &nbsp; &nbsp; &nbsp; avanzamento %: {{(selectedBatchPhase.pezziProdotti/selectedBatchPhase.pezziPianificati*100).toFixed(2)}}</span>
                            </h4>
                        </div>
                    </div>

                    <div class="row" ng-show="isEnabledDettagliFase" ng-model="pippo" style="border-left: solid 1px #3c3b3b;padding-left:20px;padding-top:10px;background:#8bcee2;padding-bottom: 10px;box-shadow: 0px 5px 5px rgba(12,12,12,0.13);">
                        <div layout="column" layout-align="center center" ng-show="isEnabledDettagliFase">
                            <button id="b1" ng-show="selectedBatchPhase.distintaBaseFase.abilitaMultimedia" class="btn btn-default" style="font-size: 25px; width:auto" ng-click="switchDetail(this,'0');"><span class="fa fa-camera" style="margin-right:15px;"></span>Multimedia</button>
                            <button id="b2" ng-show="selectedBatchPhase.distintaBaseFase.abilitaMateriali" class="btn btn-default" style="font-size: 25px; width:auto" ng-click="switchDetail(this,'1');"><span class="fa fa-folder-open" style="margin-right:15px;"></span>Materiali</button>
                        </div>
                    </div>
                </div> <!--docHeader-->


                <div id="docBody" class="row" style="border-left: solid 1px #3c3b3b;">

                    <!--==============================================================================================================================-->
                    <!-- ELENCO ELEMENTI MULTIMEDIALI -->
                    <!--==============================================================================================================================-->
                    <div class="col-sm-12" ng-show="shDetail=='0'">
                        <div class="row filemanager">
                            <div ng-repeat="item in multimediaPerFase" class="col-xs-6 col-sm-4 col-md-3">

                                <div class="thmb" ng-switch="" on=item.tipo>

                                    <!--Immagine-->
                                    <a ng-switch-when="immagine" data-fancybox data-type="iframe" data-src="{{item.url}}" href="{{item.url}}">
                                        <div class="thmb-prev">
                                            <img src="images/photos/media-image.png" class="img-responsive" />
                                        </div>
                                        <h5 class="fm-title" style="font-size: 26px;"> {{item.descrizione}}</h5>
                                    </a>

                                    <!--Pdf-->
                                    <a ng-switch-when="pdf" data-fancybox data-type="iframe" data-src="{{item.url}}" href="{{item.url}}">
                                        <div class="thmb-prev">
                                            <img src="images/photos/media-pdf.png" class="img-responsive" />
                                        </div>
                                        <h5 class="fm-title" style="font-size: 26px;"> {{item.descrizione}}</h5>
                                    </a>

                                    <div class="thmb-prev" ng-switch-when="none">
                                        <img src="images/close-white.png" class="img-responsive" alt="" style="height:60px" />
                                        <h5 class="fm-title" style="font-size: 26px;"> {{item.descrizione}}</h5>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                    <!--==============================================================================================================================-->
                    <!-- ELENCO MATERIALI -->
                    <!--==============================================================================================================================-->
                    <table class="table table-email" ng-show="shDetail=='1'" style="display:table;">
                        <tr ng-repeat="item in materialiPerFase track by item.barcode" style="display:table-row">
                            <td>
                                <div class="ckbox ckbox-success">
                                    <input type="checkbox" id={{item.barcode}}
                                           ng-checked="item.batchMaterialiStato==='completato'"
                                           ng-click="clickBatchFaseMateriale(this)"
                                           ng-disabled="true">
                                    <label for={{item.materiale.id}}></label>
                                </div>
                            </td>
                            <td style="width: 60px;">
                                <div class="media">
                                    <h4>
                                        <span style="font-size:24px">{{item.qntEffettiva}} </span>
                                        <span style="font-size:16px">{{item.materiale.um}}</span>
                                    </h4>
                                    <span>di  <span style="font-size:18px;">{{item.qntPrevista}}</span></span>
                                </div>
                            </td>
                            <td>
                                <div ng-switch="" on=item.batchMaterialiTipo>
                                    <img style="width:30px;" ng-switch-when="carico" src="images/mat-carico.png" />
                                    <img style="width:30px;" ng-switch-when="scarico" src="images/mat-scarico.png" />
                                </div>
                            </td>

                            <td>
                                <div class="media">
                                    <div class="media-body">
                                        <h4 style="font-size:150%" class="text-primary">{{item.materiale.codice}}</h4>
                                        <small class="text-muted">Barcode:{{item.barcode}} <span ng-show="(item.tipoGestione === 'rfid')">,Rfid: {{item.barcodeRfid}}</span></small>

                                        <p class="email-summary"><strong>{{item.materiale.descrizione}} - {{item.fase.nome}}</strong></p>

                                    </div>
                                </div>
                            </td>
                            <td>
                                <div ng-show="(item.tipoGestione === 'rfid') && (item.tagAzione === 'scrittura')">
                                    <img style="width:30px;" src="images/logo-rfid.png" class="pull-right" ng-class="{'blink-image': item.isOnAction}" />
                                    <a class="btn btn-success pull-right" ng-click="clickSendBarcode(item.barcodeRfid, true, item )">Scrivi</a>
                                </div>
                            </td>
                            <td>
                                <div ng-show="(item.tipoGestione === 'rfid') && (item.tagAzione === 'lettura')">
                                    <img style="width:30px;" src="images/logo-rfid.png" class="pull-right" />
                                    <a class="btn btn-info pull-right" ng-click="clickReadBarcode(item.barcodeRfid, true, item)">Leggi</a>
                                </div>
                            </td>
                        </tr>
                    </table>

                </div> <!--docBody-->

            </div>

        </div>


        <div id="footer" class="row">
            <!--https://www.w3schools.com/bootstrap/bootstrap_navbar.asp-->
            <!--<div class="progress">
        <span style="border: 1px solid lightgray" class="badge ">{{ currentItem.percCompletamento }} %</span>
        <div id="proBar" ng-class="{'progress-bar':true ,'progress-bar-success': currentItem.stato !== 'inLavorazioneInEmergenza',  'progress-bar-danger': currentItem.stato === 'inLavorazioneInEmergenza'}" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%"></div>
    </div>-->
            <!--<div class="panel panel-default">-->
        
                <div class="progress" ng-show="isVisibleProgressionPerc">
                    <span style="border: 1px solid lightgray" class="badge ">{{ currentItem.percCompletamento }} %</span>
                    <div id="proBar" ng-class="{'progress-bar':true ,'progress-bar-success': currentItem.stato !== 'inLavorazioneInEmergenza',  'progress-bar-danger': currentItem.stato === 'inLavorazioneInEmergenza'}" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%"></div>
                </div>
           

            <div style="margin:5px;padding:0px">

                <div ng-show="isVisibleButtonEmergency">
                    <button class="btn pull-right {{!stateBatchEmergenza ? 'btn-danger':' btn-danger'}}" style="margin-left:15px;line-height:50px;font-size:20px;" ng-click="changeStateBatch('5');" ng-disabled="!stateBatchEmergenza"><span class="fa fa-warning" style="margin-right:15px;"></span>EMERGENZA</button>
                </div>

                <div ng-show="isVisibleButtonStartStop">
                    <button ng-hide="stateBatchInEmergenza" class="btn pull-right {{!stateBatchStart ? 'btn-primary':' btn-primary'}}" style="margin-left: 15px; line-height: 50px; font-size: 20px;" ng-click="changeStateBatch('2');" ng-disabled="!stateBatchStart"><span class="fa fa-play" style="margin-right:15px;"></span>START </button>

                    <button ng-hide="!stateBatchInEmergenza" ng-click="openingModalSetCausaleEmergenza();" data-toggle="modal" data-target="#modalSetCausaleEmergenza" class="btn pull-right {{!stateBatchStart ? 'btn-primary':' btn-primary'}}" style="margin-left: 15px; line-height: 50px; font-size: 20px;" ng-disabled="!stateBatchStart"><span class="fa fa-play" style="margin-right:15px;"></span>START</button>

                    <button ng-hide="checkIfIncompleteBatch()" class="btn btn-darkblue pull-right {{!stateBatchStopProduzione ? 'btn-darkblue':' btn-darkblue'}}" style="line-height: 50px; font-size: 20px;" ng-click="changeStateBatch('7');" ng-disabled="!stateBatchStopProduzione"><span class="fa fa-stop" style="margin-right:15px;"></span>STOP PRODUZIONE</button>
                    <button ng-hide="!checkIfIncompleteBatch()" class="btn btn-darkblue pull-right {{!stateBatchStopProduzione ? 'btn-darkblue':' btn-darkblue'}}" style="line-height: 50px; font-size: 20px;" data-toggle="modal" data-target="#modalDropBatch" ng-disabled="!stateBatchStopProduzione"><span class="fa fa-stop" style="margin-right:15px;"></span>STOP PRODUZIONE</button>
                </div>

                <a href="allsfo.html#?idMacchina={{idMacchina}}" class="btn btn-default pull-left" style="line-height: 50px; font-size: 20px;"><span class="fa fa-arrow-left" style="margin-right:15px;"></span>INDIETRO</a>
            </div>


        </div>


        <!---------------------------------------------------------------------------------------------->
        <!-- Modal -->
        <div class="modal fade" id="notSequentialStartFase" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h2 class="modal-title" id="myModalLabel">Conferma Attivazione Fase non sequenziale</h2>
                    </div>
                    <div class="modal-body">
                        <h3>Sei sicuro di voler avviare la fase corrente [{{selectedBatchPhase.distintaBaseFase.nome}}] in modo forzato?</h3>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" style="font-size:35px;float:left">No</button>
                        <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="changeState('2');" style="font-size:35px">Conferma</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="modalRestartFase" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h2 class="modal-title" id="myModalLabel">Conferma Riattivazione Fase</h2>
                    </div>
                    <div class="modal-body">
                        <h3>Sei sicuro di voler riavviare la fase {{selectedBatchFase.nome}}?</h3>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" style="font-size:35px;float:left">No</button>
                        <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="changeState('2');" style="font-size:35px">Conferma</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="modalDropBatch" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h2 class="modal-title" id="myModalLabel">Conferma Chiusura Ordine</h2>
                    </div>
                    <div class="modal-body">
                        <h3>Sei sicuro di voler chiudere la produzione in modo forzato?</h3>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" style="font-size:35px;float:left">No</button>
                        <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="changeStateBatch('7');" style="font-size:35px">Conferma</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="modalClosePhase" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h2 class="modal-title" id="myModalLabel">Conferma Chiusura Fase </h2>
                    </div>
                    <div class="modal-body">
                        <h3>Sicuro di voler chiudere con la quantità indicata ?</h3>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" style="font-size:35px;float:left">No</button>
                        <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="changeState('7');" style="font-size:35px">Conferma</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="modalSetCausaleEmergenza" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h2 class="modal-title" id="myModalLabel">Causale Emergenza</h2>
                    </div>
                    <div class="modal-body">

                        <div class="row">
                            <div class="col-sm-12">
                                <label class="control-label">Causale</label>
                                <div class="form-group" style="width:80%; float:right;">
                                    <select class="form-control"
                                            ng-model="selectedCausaleDiRiavvio" ng-disabled="false">
                                        <option class="chosen-choices" ng-repeat="causale in causaliRiavvio track by causale.codice" value="{{causale.codice}}"
                                                ng-selected="causale.codice === causaleDiRiavvio">
                                            {{causale.causale}}
                                        </option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-12">
                                <label class="control-label">Data Riavvio</label>
                                <div style="width:80%; float:right;">
                                    <div class="input-group date form_datetime" data-date-format="dd-mm-yyyy hh:ii:ss">
                                        <input type="text" class="form-control" ng-model="dataDiRiavvio">
                                        <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="row">
                            <div class="col-sm-12" style="padding-top:10px">
                                <label class="control-label">Note</label>
                                <div class="form-group" style="width:80%; float:right;">
                                    <div>
                                        <textarea id="TextArea1" rows="8" cols="40" ng-model="notaDiRiavvio" class="form-control"></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" style="font-size:35px;float:left">Annulla</button>
                        <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="changeStateBatch('2');" style="font-size:35px">Conferma</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- Modal -->
        <!---------------------------------------------------------------------------------------------->

    </div><!-- mainpanel -->



        <script src="js/loadAllScript.js"></script>
        <script src="app/controllers/produzione/sfofasi.controller.js"></script>
        <script src="app/controllers/accessi/accessi.controller.js"></script>
        <script src="js/jquery.fancybox.js"></script>

        <script>

            $.fancybox.defaults.buttons = ['fullScreen', 'zoom', 'close'];
            $.fancybox.defaults.lang = 'it';
            $.fancybox.defaults.i18n = {
                'it': {
                    CLOSE: 'Chiudi',
                    NEXT: 'Prossimo',
                    PREV: 'Precedente',
                    ERROR: 'Il documento richiesto non può essere caricato<br/> Riprovare più tardi',
                    PLAY_START: 'Avvia slideshow',
                    PLAY_STOP: 'PAusa slideshow',
                    FULL_SCREEN: 'Tutto schermo',
                    THUMBS: 'Thumbnails',
                    DOWNLOAD: 'Download',
                    SHARE: 'Share',
                    ZOOM: 'Zoom'
                }
            };


            $(window).bind("resize", function () { contsize(); });
            $(document).ready(function () { contsize(); });
            $('#content').ready(function () { contsize(); });

            function contsize() {
                var availableSize = window.innerHeight - $('#footer').innerHeight() - $('#header').innerHeight() + 28;  // == Fixed div (header,foter) Size  (200)!!!
                $('#content').height(availableSize);
                $('#docBody').height(availableSize - 380);

            };




            $(".form_datetime").datetimepicker({
                format: "dd-mm-yyyy hh:ii:ss",
                autoclose: true,
                todayBtn: "linked",
                //todayBtn: true,
                startDate: new Date(),
                minuteStep: 5,
                language: "it",
                //toggleActive: true,
                todayHighlight: true,
                pickerPosition: "bottom-left",
                //initialDate: new Date()
            });

            jQuery('.thmb').hover(function () {
                var t = jQuery(this);
                t.find('.ckbox').show();
                t.find('.fm-group').show();
            }, function () {
                var t = jQuery(this);
                if (!t.closest('.thmb').hasClass('checked')) {
                    t.find('.ckbox').hide();
                    t.find('.fm-group').hide();
                }
            });

            jQuery('.ckbox').each(function () {
                var t = jQuery(this);
                var parent = t.parent();
                if (t.find('input').is(':checked')) {
                    t.show();
                    parent.find('.fm-group').show();
                    parent.addClass('checked');
                }
            });


            jQuery('.ckbox').click(function () {
                var t = jQuery(this);
                if (!t.find('input').is(':checked')) {
                    t.closest('.thmb').removeClass('checked');
                    enable_itemopt(false);
                } else {
                    t.closest('.thmb').addClass('checked');
                    enable_itemopt(true);
                }
            });

            jQuery('#selectall').click(function () {
                if (jQuery(this).is(':checked')) {
                    jQuery('.thmb').each(function () {
                        jQuery(this).find('input').attr('checked', true);
                        jQuery(this).addClass('checked');
                        jQuery(this).find('.ckbox, .fm-group').show();
                    });
                    enable_itemopt(true);
                } else {
                    jQuery('.thmb').each(function () {
                        jQuery(this).find('input').attr('checked', false);
                        jQuery(this).removeClass('checked');
                        jQuery(this).find('.ckbox, .fm-group').hide();
                    });
                    enable_itemopt(false);
                }
            });

            function enable_itemopt(enable) {
                if (enable) {
                    jQuery('.itemopt').removeClass('disabled');
                } else {

                    // check all thumbs if no remaining checks
                    // before we can disabled the options
                    var ch = false;
                    jQuery('.thmb').each(function () {
                        if (jQuery(this).hasClass('checked'))
                            ch = true;
                    });

                    if (!ch)
                        jQuery('.itemopt').addClass('disabled');
                }
            }

            //Replaces data-rel attribute to rel.
            //We use data-rel because of w3c validation issue
            jQuery('a[data-rel]').each(function () {
                jQuery(this).attr('rel', jQuery(this).data('rel'));
            });






        </script>


</body>
</html>





<style>

    div::-webkit-scrollbar{
    width:24px;
    background-color:#fff;
    } 
    div::-webkit-scrollbar-thumb{
    background-color:#8bcee2;
    border-radius:0px;
    }
    div::-webkit-scrollbar-thumb:hover{
    background-color:#8bcee2;
    border:1px solid #333333;
    }
    div::-webkit-scrollbar-thumb:active{
    background-color:#8bcee2;
    border:1px solid #1d2939;
    } 

    .form-control, .chosen-select, .chosen-choices, .chosen-container .chosen-container-single .chosen-single {
        display: block;
        width: 100%;
        height: 64px;
        padding: 6px 12px;
        font-size: 40px;
        line-height: 1.428571429;
        color: #555;
        vertical-align: middle;
        background-color: #fff;
        border: 1px solid #ccc;
        border-radius: 4px;
        -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
        box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
        -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
        transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
        background-image: none;
    }


    .datetimepicker table {
        width: 100%;
        margin: 0;
    }

    .datetimepicker.dropdown-menu {
        width: 18em;
        height: auto;
        font-size: 30px;
    }

    #contextmenu-node {
        position: absolute;
        background-color: white;
        border: solid #CCCCCC 1px;
    }

    .contextmenu-item {
        margin: 0.5em;
        padding-left: 0.5em;
    }

        .contextmenu-item:hover {
            background-color: #CCCCCC;
            cursor: default;
        }

    .form-group-alt {
        overflow-y: scroll !important;
        height: 100%;
        max-height: 100%;
    }

    .form-group-alt2 {
        /*overflow-y: scroll !important;*/
        height: 100%;
        max-height: 100%;
    }

    #header {
        width: 100%;
        height: 50px;
        position: fixed;
        top: 0;
        z-index: 100;
         box-shadow:-1px -4px 20px 12px rgba(12,12,12,0.13);
             margin-left: 0px;
    }

    #content {
        width: 100%;
        margin: 0 auto;
        padding-right: 0;
        padding-left: 0;
        padding-top: 51px;
        z-index: 0;
        /*border:solid;border-width:2px;border-color:blue;*/ /*test*/
    }

    #footer {
        width: 100%;
        /*height: 75px;*/
        background: white !important;
        position: fixed;
        bottom: 0;
        z-index: 100;
        padding:5px;
        box-shadow:-1px -4px 20px 12px rgba(12,12,12,0.13);
            margin-left: 0px;
    }


    .mainpanel-sf {
        background: #e4e7ea;
        /*min-height: 1000px;*/
        height: 100%;
    }

    #docHeader {
        width: 100%;
        height: 150px;
        position: fixed;
        z-index: 100;
    }

    #docBody {
        width: 41.66%; /*col-md-5*/
        top: 402px;
        position: fixed;
        z-index: 0;
        overflow-y: scroll !important;
        /*height:150px;*/
        /*border:solid;border-width:2px;border-color:blue;*/ /*test*/
    }



</style>
