﻿<div class="">
    <div class="header-right" >
        <ul class="headermenu">

            <li>
                <font face="italic" size="3" color="#636e7b"><strong>Stazione:  {{StationId}} </strong></font>
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                    <img src="images/photos/user.png" alt="" />
                    {{LoggedUser}}
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu dropdown-menu-usermenu pull-right">
                    <li><a ng-click="logOut()"><i class="glyphicon glyphicon-log-out"></i> Log Out</a></li>
                </ul>

            </li>
        </ul>
    </div>
</div><!-- headerbar -->
