﻿.h3x {
  font-size: 30px;
}






table, th , td  {
  /*border: 1px solid grey;*/
  /*border-collapse: collapse;*/
  /*padding: 0px;*/
/**//**//**/
  border: 0px;
  padding: 0px;
  margin: 0px;
}
table tr:nth-child(odd) {
  background-color: #f1f1f1;
  border: 0px;
  padding: 0px;
  margin: 0px;
}
table tr:nth-child(even) {
  background-color: #ffffff;
  border: 0px;
  padding: 0px;
  margin: 0px;
}

/* pagination tools */
.ng-pagination{
    padding-left:0px;
    margin:0px;
}
.ng-table-counts{
    padding-left:0px;
    padding-right:0px;
    padding-bottom:15px;
    margin:0px;
}



.md-button.md-fab.md-mini_alt {
      line-height: 2rem;
      width: 2rem;
      height: 2rem;
}


.jumbotron {
  padding: 30px;
  margin-bottom: 30px;
  color: inherit;
  background-color: #eee;
}
.jumbotron h1,
.jumbotron .h1 {
  color: inherit;
}
.jumbotron p {
  margin-bottom: 15px;
  font-size: 21px;
  font-weight: 200;
}
.container .jumbotron {
  border-radius: 6px;
}
.jumbotron .container {
  max-width: 100%;
}
@media screen and (min-width: 768px) {
  .jumbotron {
    padding-top: 48px;
    padding-bottom: 48px;
  }
  .container .jumbotron {
    /*padding-right: 60px;*/
    /*padding-left: 60px;*/
    /**//**//**/
    padding-right: 0px;
    padding-left: 0px;
    margin-right: 0px;
    margin-left: 0px;
    border:0px
  }
  .jumbotron h1,
  .jumbotron .h1 {
    font-size: 63px;
  }
}




/*.login-form {
  md-card {
    padding: 0;

    md-card-title {
      background-color: blue;
    }
  }
}*/
.login-form {
    padding: 0px;
    margin: 0px;
    border:0px;
    /*background-color: blue;*/
}



/*======================================================================================================*/

.main-header {
height: 70px;
top: 0px;
border: 1px;

/**//**//**/
height: 0px;
z-index: 0;
}

.header {
height: 0px;
top: 0px;
border: 1px;
}


.layout-fill-alt {
  margin: 0;
  width: 100%;
  min-height: 30%;
  height: 100%;
  overflow: scroll;

/**//**//**/
  top: 0px;
  padding: 75px 0px 0px 0px;
  
  margin: 0px;
  border: 0px; 
}



.md-padding-box-fab {
  padding: 2px 2px 2px 2px; 
  border-radius:10px;
      background-color: red;
}



.md-padding-fab {
  padding: 0px 4px 0px 4px; 
}
@media (min-width: 960px) {
  .md-padding-fab {
    padding:  0px 4px 0px 4px; } }


.md-padding-nav-fab {
  padding: 0px 0px 0px 0px; 
  margin: 0px 0px 0px 0px; 
  border-radius:10px;
}

@media (min-width: 960px) {
  .md-padding-nav-fab {
    padding:  0px 0px 0px 0px;
    margin: 0px 0px 0px 0px; 
    border-radius:10px;
  } }


  /*padding: 0 0px 0 6px;*/
  /*margin: 6px 8px 6px 8px;*/

.md-button-fab {
  padding: 0 0px 0 6px;
  margin: 6px 8px 6px 8px;
  min-width: 1px;
  border-radius: 3px;
  font-size: 14px;
  text-align: center;
  text-transform: uppercase;
  text-decoration:none;
  border: none;
  outline: none;
}


/*======================================================================================================*/

.md-tooltip-fab {
  pointer-events: none;
  border-radius: 4px;
  overflow: hidden;
  opacity: 0;
  font-weight: 500;
  font-size: 14px;
  white-space: nowrap;
  text-overflow: ellipsis;
  height: 22px;
  line-height: 22px;
  padding-right: 8px;
  padding-left: 8px; }
  .md-tooltip.md-origin-top {
    -webkit-transform-origin: center bottom;
            transform-origin: center bottom;
    margin-top: -4px; }
  .md-tooltip.md-origin-right {
    -webkit-transform-origin: left center;
            transform-origin: left center;
    margin-left: 8px; }
  .md-tooltip.md-origin-bottom {
    -webkit-transform-origin: center top;
            transform-origin: center top;
    margin-top: 8px; }
  .md-tooltip.md-origin-left {
    -webkit-transform-origin: right center;
            transform-origin: right center;
    margin-left: -4px; }

  @media (min-width: 960px) {
    .md-tooltip-fab {
      font-size: 14px;
      height: 22px;
      line-height: 22px;
      padding-right: 8px;
      padding-left: 8px; }
      .md-tooltip.md-origin-top {
        margin-top: -4px; }
      .md-tooltip.md-origin-right {
        margin-left: 8px; }
      .md-tooltip.md-origin-bottom {
        margin-top: 8px; }
      .md-tooltip.md-origin-left {
        margin-left: -4px; } }
  .md-tooltip.md-show-add {
    -webkit-transform: scale(0);
            transform: scale(0); }
  .md-tooltip.md-show {
    -webkit-transition: all 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
    transition: all 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
    -webkit-transition-duration: 150ms;
            transition-duration: 150ms;
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 0.9; }
  .md-tooltip.md-hide {
    -webkit-transition: all 0.3s cubic-bezier(0.55, 0, 0.55, 0.2);
    transition: all 0.3s cubic-bezier(0.55, 0, 0.55, 0.2);
    -webkit-transition-duration: 150ms;
            transition-duration: 150ms;
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 0; }




.md-button.md-fab-fab {
  line-height: 5.6rem;
  min-width: 0;
  width: 5.6rem;
  height: 5.6rem;
  border-radius: 50%;
}